﻿    <style>
    #modallookupresep table td,
    #modallookupresep table th {
        white-space:nowrap;
    }
</style>

<div id="modallookupresep" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resep</h4>
            </div>
            <form id="lookupresep">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input id="filterbillingresep" type="text" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupresep.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th style="width:50px;"></th>
                                    <th class="sorting" data-itable-sorting="NoResep">No Resep<i></i></th>
                                    <th class="sorting" data-itable-sorting="TglResep">Tanggal<i></i></th>
                                    <th class="sorting" data-itable-sorting="NoRegistrasi">Registrasi<i></i></th>
                                    <th class="sorting" data-itable-sorting="SectionAsal">Section<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="Gender">Gender<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaDOkter">Dokter<i></i></th>
                                    <th class="sorting" data-itable-sorting="NRM">NRM<i></i></th>
                                    <th class="sorting" data-itable-sorting="JenisPasien">Jenis Pasien<i></i></th>
                                    <th class="sorting" data-itable-sorting="Perusahaan">Perusahaan<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupresep.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupresep;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupresep = new iTable({
            url: '@Url.Action("ListLookupresep")',
            table: document.getElementById('lookupresep'),
            orderby: 'NoResep',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="11" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        let icon = '';
                        if (value.Cito)
                            icon = '<i class="icon-stack-warning text-danger"></i>';

                        var tbody = '<tr onclick="itablelookupresep.detailactive(this)">';

                        // column
                        tbody += '<td>' + icon + '</td>';
                        tbody += '<td>' + value.NoResep + '</td>';
                        tbody += '<td>' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.Registrasi + '</td>';
                        tbody += '<td>' + value.Section + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.Gender + '</td>';
                        tbody += '<td>' + value.Dokter + '</td>';
                        tbody += '<td>' + value.NRM + '</td>';
                        tbody += '<td>' + value.JenisPasien + '</td>';
                        tbody += '<td>' + (value.Perusahaan || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupresep.openmodal = function(t) {
            itablelookupresep.refresh();
            $('#filterbillingresep').val('');
            $('#modallookupresep').modal();
            $('.modal-backdrop:last').css('z-index',$('#modallookupresep').css('z-index') - 1);
        }

        itablelookupresep.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupresep.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupresep.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            $.ajax({
                url: '@Url.Action("DetailResep")',
                type: 'POST',
                data: { id: model.NoResep },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.form['NoResep'].value = model.NoResep;
                        isetup.form['TanggalResep'].value = model.InputTanggal + 'T' + model.InputJam;
                        isetup.form['Cito'].checked = model.Cito;
                        isetup.form['SectionAsal'].value = model.SectionAsalId;
                        isetup.form['Dokter'].value = model.Dokter;

                        $(isetup.form['SectionAsal']).trigger('change');
                        $(isetup.form['Dokter']).trigger('change');

                        isetup.form['PaketObat'].checked = model.PaketObat;
                        isetup.form['KodePaket'].value = model.KodePaket;
                        isetup.form['Paket'].value = model.Paket;

                        isetup.form['NoReg'].value = model.NoReg;
                        isetup.form['NRM'].value = model.NRM;
                        isetup.form['Nama'].value = model.Nama;
                        isetup.form['Alamat'].value = model.Alamat;
                        isetup.form['Gender'].value = model.Gender;
                        isetup.form['Umur'].value = model.UmurTahun ? (model.UmurTahun + ' Thn ' + model.UmurBulan + ' Bln') : '';
                        isetup.form['BeratBadan'].value = model.BeratBadan;
                        isetup.form['Kerjasama'].value = model.Kerjasama;
                        isetup.form['NoKartu'].value = model.NoKartu;


                        $('#Nama').text(model.Nama);
                        $('#Alamat').text(model.Alamat);
                        $('#Phone_Reg').text(model.Phone_Reg);

                        if (isetup.form['Kerjasama'].value == '') {
                            $('#Kerjasama').text('UMUM');
                        }
                        else {
                            $('#Kerjasama').text(model.Perusahaan);
                        }
                        $('#NoKartu').text(model.NoKartu);
                        if (model.Perusahaan == 'BPJS KESEHATAN') {
                            $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
                            $('#estimas').removeClass('hidden');
                        }
                        else if (model.Perusahaan != 'BPJS KESEHATAN') {
                            $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
                            $('#estimas').addClass('hidden');
                        }
                        $('#NRM').text('[' + model.NRM + ']');
                        if (model.Gender == 'M') {
                            $('#JenisKelamin').addClass('fa fa-mars fa-lg');
                        }
                        else if (model.Gender == 'F') {
                            $('#JenisKelamin').addClass('fa fa-venus fa-lg');
                        }
                        $('#Umur').text(model.UmurTahun ? (model.UmurTahun + ' Thn ' + model.UmurBulan + ' Bln') : '');


                        // detail
                        $(isetup.form).find('.input-detail tbody tr').remove();
                        $.each(r.Detail, function (index, value) {
                            isetup.adddetailbody(
                                value.Id,
                                value.Kode,
                                value.Nama,
                                value.Satuan,
                                value.Aturan1,
                                value.Aturan2,
                                value.TglED,
                                value.JumlahResep,
                                value.JumlahObat,
                                value.Stok,
                                value.Harga,
                                0,
                                value.Racikan,
                                true
                            );
                        });

                        $(t).closest('.modal').modal('hide');
                    } else
                        alerterror(r.Message);
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
            $('#filterbillingresep').val('');
        }

        $('#modallookupresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>