﻿@using Inventory.Helper

<style>
    #modalsetupnew .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetupnew" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="pull-right close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Billing</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="KodePaket" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jam</label>
                                    <div class="col-md-9">
                                        <input type="time" required name="Jam" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3 control-label">
                                        <label class="control-label">
                                            <input type="checkbox" name="IncludeJasa" />
                                            Include Jasa
                                        </label>
                                    </div>
                                    <div class="col-md-2 control-label">
                                        <label class="control-label">
                                            <input type="checkbox" name="COB" />
                                            COB
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Dokter</label>
                                    <div class="col-md-9">
                                        <select required onchange="isetupnew.dokteronchange()" name="Dokter">@Html.Raw(HList.FarmasiBillingDokter)</select>
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Spesialis</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Spesialis" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Section Asal</label>
                                    <div class="col-md-9">
                                        <select name="SectionAsal" required class="">@Html.Raw(HList.FarmasiResepSection)</select>
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <div class="col-md-9 col-md-offset-3">
                                        <label>
                                            <input type="checkbox" name="PaketObat" onclick="checkedpaket()" />
                                            Paket Obat
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Paket</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" name="Paket" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <a id="paketobat" class="btn btn-primary disabled view-disabled" onclick="itablelookuppaket.openmodal()"><i class="icon-search4"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 hide">
                                <fieldset class="content-group">
                                    <legend class="text-bold">
                                        Resep
                                        <button type="button" class="pull-right btn btn-success" onclick="isetupnewtelaahresep()"><i class="icon-checkbox-checked position-left"></i>Telaah Resep</button>
                                        <button type="button" class="position-right btn btn-success btn-proses-printresep" onclick="isetupnewprintresep(this,event)"><i class="icon-printer position-left"></i>Print</button>
                                    </legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Resep</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoResep" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <a id="noresepbutton" class="btn btn-primary view-disabled" onclick="itablelookupresep.openmodal()"><i class="icon-search4"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="datetime-local" name="TanggalResep" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-3">
                                            <label>
                                                <input type="checkbox" name="Cito" class="all-disabled" />
                                                Cito
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4 hide">
                                <fieldset class="content-group">
                                    <legend class="text-bold">
                                        Registrasi
                                        <button type="button" class="pull-right btn btn-success view-disabled " onclick="isetupnewhistorykunjungan()"><i class="icon-history"></i>History Kunjungan</button>
                                    </legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Reg</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoReg" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <a id="noregbutton" class="btn btn-primary view-disabled" onclick="itablelookupregistrasi.openmodal()"><i class="icon-search4"></i></a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">NRM</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NRM" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-success view-disabled" onclick="isetupnewhistory()"><i class="icon-history"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Nama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Alamat</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Alamat" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Gender</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Gender" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Umur</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Umur" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Berat Badan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="BeratBadan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kerjasama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Kerjasama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Kartu</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoKartu" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group hide">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tablebarang" class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a id="lookupbaranghide" onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:50px;" class="text-center view-hide"></td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td style="min-width: 100px;">Aturan1</td>
                                                <td style="min-width: 100px;">Aturan2</td>
                                                <td class="text-center">TglED</td>
                                                <td class="text-center">Jml Resep</td>
                                                <td class="text-center">Jml Obat</td>
                                                <td class="text-center">Stok</td>
                                                <td class="text-right" style="min-width: 100px;">Harga</td>
                                                <td class="text-right" style="min-width: 80px;">Disc</td>
                                                <td class="text-right" style="min-width: 100px;">Jumlah</td>
                                                <td style="min-width: 180px;">Racikan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row hide">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control view-hide" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Biaya Racik</label>
                                    <div class="col-md-9">
                                        <input type="text" onchange="isetupnew.hitungtotal()" name="BiayaRacik" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Grand Total</label>
                                    <div class="col-md-8">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelebihan Plafon</label>
                                    <div class="col-md-8">
                                        <input type="text" name="KelebihanPlafon" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaleresep" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">E-Resep</h4>
            </div>
            <form onsubmit="isetupnew.modalereseponsubmit(event)">
                <input type="hidden" name="eresepid" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep1" />
                                    06:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep2" />
                                    07:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep3" />
                                    10:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep4" />
                                    11:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep5" />
                                    12:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep6" />
                                    14:00
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep7" />
                                    16:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep8" />
                                    18:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep9" />
                                    21:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep10" />
                                    22:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep11" />
                                    24:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep12" />
                                    02:00
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><i class="icon-check"></i> OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>

<script>
    function isetupnewtelaahresep() {
        $.ajax({
            url: "@Url.Action("checkTelaahFarmasi","FarmasiBilling")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoResep']").val(),
            },
            dataType : "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {

                    _dataTelaaah();
                    $("#modalsetuptelaahresep").modal('show');
                } else {
                    $("#modalsetuptelaahresep").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaah").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });

        $('#modalsetuptelaahresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }


</script>

<script>


    function isetupnewtelaahobat() {
        $.ajax({
            url: "@Url.Action("checkTelaahObat", "FarmasiBilling")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoBukti']").val(),
            },
            dataType : "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {

                    _dataTelaaahObat();
                    $("#modalsetuptelaahobat").modal('show');
                } else {
                    $("#modalsetuptelaahobat").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaahObat").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });

        $('#modalsetuptelaahobat').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

</script>

<script>
    $('#modalsetuphistory').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    function isetupnewhistory() {
        _dataHistory();
        $("#modalsetuphistory").modal('show');
    }
</script>

<script>
    $('#modalsetuphistory').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    function isetupnewhistorykunjungan() {
        _dataHistoryKunjungan();
        $("#modalsetuphistorykunjungan").modal('show');
    }
</script>

<script>
    var isetupnew;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetupnew = new iSetup({
            modal: 'modalsetupnew',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetupnew.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['KodePaket'].value = r.Data.KodePaket;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Jam'].value = r.Data.Jam;
                    t['Dokter'].value = r.Data.Dokter;
                    t['Spesialis'].value = r.Data.Spesialis;
                    t['SectionAsal'].value = r.Data.SectionAsal;
                    t['PaketObat'].checked = r.Data.PaketObat;
                    t['Paket'].value = r.Data.Paket;
                    t['IncludeJasa'].checked = r.Data.IncludeJasa;
                    t['COB'].checked = r.Data.COB;
                    t['NoResep'].value = r.Data.NoResep;
                    t['TanggalResep'].value = r.Data.TanggalResep + 'T' + r.Data.JamResep;
                    t['Cito'].checked = r.Data.Cito;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Gender'].value = r.Data.Gender;
                    t['Umur'].value = r.Data.UmurTahun ? (r.Data.UmurTahun + ' Thn ' + r.Data.UmurBulan + ' Bln') : '';
                    t['BeratBadan'].value = r.Data.BeratBadan;
                    t['Kerjasama'].value = r.Data.Kerjasama;
                    t['NoKartu'].value = r.Data.NoKartu;
                    t['Keterangan'].value = r.Data.Keterangan;

                    isetupnew.cleave_BiayaRacik.setRawValue(r.Data.BiayaRacik);
                    isetupnew.cleave_KelebihanPlafon.setRawValue(r.Data.KelebihanPlafon);

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetupnew.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Aturan1,
                            value.Aturan2,
                            value.TglED,
                            value.JumlahResep,
                            value.JumlahObat,
                            value.Stok,
                            value.Harga,
                            value.Disc,
                            value.Racikan,
                            false,
                            false,
                            value.Eresep1,
                            value.Eresep2,
                            value.Eresep3,
                            value.Eresep4,
                            value.Eresep5,
                            value.Eresep6,
                            value.Eresep7,
                            value.Eresep8,
                            value.Eresep9,
                            value.Eresep10,
                            value.Eresep11,
                            value.Eresep12,
                        );
                    });

                    isetupnew.init();
                    isetupnew.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetupnew.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        Jam: t['Jam'].value,
                        PaketObat: t['PaketObat'].checked,
                        Paket: t['KodePaket'].value,
                        NoResep: t['NoResep'].value,
                        NoReg: t['NoReg'].value,
                        Keterangan: t['Keterangan'].value,
                        IncludeJasa: t['IncludeJasa'].checked,
                        COB: t['COB'].checked,
                        Dokter: t['Dokter'].value,
                        SectionAsal: t['SectionAsal'].value,
                        NoResep: t['NoResep'].value,

                        SubTotal: getfloatfromcurrency(t['SubTotal'].value),
                        BiayaRacik: parseFloat(isetupnew.cleave_BiayaRacik.getRawValue()) || 0,
                        KelebihanPlafon: parseFloat(isetupnew.cleave_KelebihanPlafon.getRawValue()) || 0,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            var m = isetupnew.cleave_detail_harga.find(x => x.id === $(value).data('id'));
                            return {
                                Id : $(value).data('id'),
                                JumlahObat: $(value).find('.Qty').val(),
                                Aturan1: $(value).find('.AturanPakai1').val(),
                                Aturan2: $(value).find('.AturanPakai2').val(),
                                TanggalED: $(value).find('.TanggalED').val(),
                                Harga: m.clave.getRawValue(),
                                Disc: $(value).find('.Disc').val(),
                                Racikan: $(value).find('.Racik').val(),
                                WaktuTiket1: m.eresep1 || false,
                                WaktuTiket2: m.eresep2 || false,
                                WaktuTiket3: m.eresep3 || false,
                                WaktuTiket4: m.eresep4 || false,
                                WaktuTiket5: m.eresep5 || false,
                                WaktuTiket6: m.eresep6 || false,
                                WaktuTiket7: m.eresep7 || false,
                                WaktuTiket8: m.eresep8 || false,
                                WaktuTiket9: m.eresep9 || false,
                                WaktuTiket10: m.eresep10 || false,
                                WaktuTiket11: m.eresep11 || false,
                                WaktuTiket12: m.eresep12 || false,
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetupnew.modal.modal('hide');
                    $(isetupnew.form).find('.btn-proses-telaahobat').removeClass('hide');
                    $(isetupnew.form).find('.btn-save').addClass('hide');
                    $('#createmodal').removeClass('hide');
                    alertpopup('Simpan Sukses','success');
                    isetupnew.init();
                    var t = isetupnew.form;


                    $(t['SectionAsal']).attr('disabled', 'disabled');
                    $(t['Dokter']).attr('disabled', 'disabled');
                    $(t['PaketObat']).attr('disabled', 'disabled');
                    $(t['IncludeJasa']).attr('disabled', 'disabled');
                    $(t['Keterangan']).attr('disabled', 'disabled');
                    $(t['BiayaRacik']).attr('disabled', 'disabled');
                    $(t['KelebihanPlafon']).attr('disabled', 'disabled');
                    $('#noregbutton').addClass('disabled');
                    $('#noresepbutton').addClass('disabled');
                    $('#lookupbaranghide').addClass('disabled');
                    $("#tablebarang").find("thead tr td:eq(1)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:eq(1)").addClass("hidden");
                    $("#tablebarang").find("thead tr td:eq(2)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:eq(2)").addClass("hidden");
                    $('#tablebarang').find('href, i').addClass('hide');
                    $('#tablebarang').find('input, textarea, button, select').attr('disabled', 'disabled');
                    //print
                    window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=SIM_Rpt_BillingObat.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + r.Id + '\'}]');
                    t['NoBukti'].value = r.Id;
                    $(t).find('.btn-proses-printresep').removeClass('hide');
                } else alerterror(r.Message);
                itable.refresh();

            },
            setupready: function () {
                var t = isetupnew.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'CREATE') {
                    $(t).find('.btn-proses-telaahobat').addClass('hide');
                    $(t).find('.btn-proses-printresep').addClass('hide');
                } else if (t['_PROCESS'].value === 'VIEW') {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                    $(t).find('.btn-proses-printresep').removeClass('hide');
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                    $('#tablebarang').find('href, i').addClass('hide');
                    $("#tablebarang").find("tbody tr td:eq(1)").addClass("hidden");
                }
                else {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                }

            },
            onopenmodalcreate: function (t, param) {
                isetupnew.init();
                $(isetupnew.form).find('.input-detail tbody').html('');

                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;

                isetupnew.form['Tanggal'].value = formatdate(new Date()) + time;
                $(t).find('.input-detail tbody').html('');
                isetupnew.form['SectionAsal'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetupnew.cleave_detail_harga = [];

                //$('#createmodal').addClass('hide');
                $('#noregbutton').removeClass('disabled');
                $('#noresepbutton').removeClass('disabled');
                $('#lookupbaranghide').removeClass('disabled');
                $('#tablebarang').find('href, i').removeClass('hide');
                $('#tablebarang').find('input, textarea, button, select').removeAttr('disabled', 'disabled');
                $("#tablebarang").find("thead tr td:eq(1)").removeClass("hidden");
                $("#tablebarang").find("tbody tr td:eq(1)").removeClass("hidden");
                $("#tablebarang").find("thead tr td:eq(2)").removeClass("hidden");
                $("#tablebarang").find("tbody tr td:eq(2)").removeClass("hidden");
            }
        });

        $(isetupnew.form['SectionAsal']).select2();
        $(isetupnew.form['Dokter']).select2();

        isetupnew.dokteronchange = () => {
            isetupnew.form['Spesialis'].value = $(isetupnew.form['Dokter']).find('option:selected').data('spesialis');
        };

        isetupnew.cleave_detail_harga = [];
        isetupnew.cleave_BiayaRacik = new Cleave(isetupnew.form['BiayaRacik'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        isetupnew.cleave_KelebihanPlafon = new Cleave(isetupnew.form['KelebihanPlafon'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetupnew.customeremovedetail = (t, id) => {
            removedetail(t);
            isetupnew.cleave_detail_harga = isetupnew.cleave_detail_harga.filter(x => x.id !== id);
            isetupnew.hitungtotal();
        };

        isetupnew.openmmodaleresep = id => {
            if (isetupnew.form['_PROCESS'].value !== 'VIEW')
                $('#modaleresep form input[type="checkbox"]').removeAttr('disabled');
            else
                $('#modaleresep form input[type="checkbox"]').attr('disabled', 'disabled');

            const f = $('#modaleresep form')[0];
            const m = isetupnew.cleave_detail_harga.find(x => x.id == id);
            f['eresepid'].value = m.id;
            f['eresep1'].checked = m.eresep1;
            f['eresep2'].checked = m.eresep2;
            f['eresep3'].checked = m.eresep3;
            f['eresep4'].checked = m.eresep4;
            f['eresep5'].checked = m.eresep5;
            f['eresep6'].checked = m.eresep6;
            f['eresep7'].checked = m.eresep7;
            f['eresep8'].checked = m.eresep8;
            f['eresep9'].checked = m.eresep9;
            f['eresep10'].checked = m.eresep10;
            f['eresep11'].checked = m.eresep11;
            f['eresep12'].checked = m.eresep12;
            $('#modaleresep').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        };

        isetupnew.modalereseponsubmit = e => {
            e.preventDefault();
            const f = $('#modaleresep form')[0];
            const m = isetupnew.cleave_detail_harga.find(x => x.id == f['eresepid'].value);
            m.eresep1 = f['eresep1'].checked;
            m.eresep2 = f['eresep2'].checked;
            m.eresep3 = f['eresep3'].checked;
            m.eresep4 = f['eresep4'].checked;
            m.eresep5 = f['eresep5'].checked;
            m.eresep6 = f['eresep6'].checked;
            m.eresep7 = f['eresep7'].checked;
            m.eresep8 = f['eresep8'].checked;
            m.eresep9 = f['eresep9'].checked;
            m.eresep10 = f['eresep10'].checked;
            m.eresep11 = f['eresep11'].checked;
            m.eresep12 = f['eresep12'].checked;
            $('#modaleresep').modal('hide');
        };

        isetupnew.adddetailbody = (id, kode, nama, satuan, aturan1, aturan2, tgled, resep, obat, stok, harga, disc, racikan, hidedelete, fromlookupbarang,
            eresep1,
            eresep2,
            eresep3,
            eresep4,
            eresep5,
            eresep6,
            eresep7,
            eresep8,
            eresep9,
            eresep10,
            eresep11,
            eresep12
        ) => {
            const has = $(isetupnew.form).find('.input-detail tbody tr[data-id="' + id + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }

            const _jum = obat * harga;
            const _disc = _jum / 100 * disc;
            const jumlah = _jum - _disc;


            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="' + (hidedelete ? 'lockdelete' : '') + ' ' + (fromlookupbarang ? 'fromlookupbarang' : '') + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="isetupnew.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetupnew.openmmodaleresep(' + id + ');" class="text-primary"><i class="icon-file-text2"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td><input type="text" class="form-control AturanPakai1" value="' + (aturan1 || '') + '" /></td>';
            _detail += '<td><input type="text" class="form-control AturanPakai2" value="' + (aturan2 || '') + '" /></td>';
            _detail += '<td><input type="date" class="form-control TanggalED" value="' + tgled + '" /></td>';
            _detail += '<td class="td-text text-center">' + (resep || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetupnew.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + obat + '" /></td>';
            _detail += '<td class="td-text text-center">' + (stok || 0) + '</td>';
            _detail += '<td class="td-text text-right"><input type="text" onchange="isetupnew.hitungjumlah(this)" class="hidden form-control text-right Harga" step="any" min="0" value="' + harga + '" />' + harga + '</td>';
            _detail += '<td><input type="number" onchange="isetupnew.hitungjumlah(this)" class="form-control text-right Disc" step="any" min="0" max="100" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';
            _detail += '<td><select class="Racik form-control">@(Html.Raw(HList.FarmasiResepRacikan))</select></td>';

            _detail += '</tr>';
            $(isetupnew.form).find('tbody').append(_detail);

            const _inputharga = $(isetupnew.form).find('tbody tr:last-child .Harga').last();
            const _inputcarikan = $(isetupnew.form).find('tbody tr:last-child .Racik').last();
            _inputcarikan[0].value = racikan || 'None';
            isetupnew.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                }),
                eresep1: eresep1 || false,
                eresep2: eresep2 || false,
                eresep3: eresep3 || false,
                eresep4: eresep4 || false,
                eresep5: eresep5 || false,
                eresep6: eresep6 || false,
                eresep7: eresep7 || false,
                eresep8: eresep8 || false,
                eresep9: eresep9 || false,
                eresep10: eresep10 || false,
                eresep11: eresep11 || false,
                eresep12: eresep12 || false,
            });
            isetupnew.hitungtotal();
        };

        isetupnew.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetupnew.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const _jum = harga * qty;
            const _dis = _jum / 100 * disc;
            const jumlah = _jum - _dis;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetupnew.hitungtotal();
        }

        isetupnew.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetupnew.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const biayaracik = parseFloat(isetupnew.cleave_BiayaRacik.getRawValue()) || 0;
            const grandtotal = subtotal + biayaracik;
            isetupnew.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetupnew.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });

    const isetupnewprintresep = (t, e) => {
        e.preventDefault();
        window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=SIM_Rpt_BillingObat.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetupnew.form['NoBukti'].value + '\'}]');
        $('#modalreport').modal('hide');
    }

    function checkedpaket() {
        if ($("input[name=PaketObat]").is(':checked')) {

            $('#paketobat').removeClass('disabled');
        }
        else {
            $('#paketobat').addClass('disabled');
            $('#paketobat').val('');
        }
    }

    function isetupnewtambah() {
        $('#modalsetupnew').modal('hide');
        isetup.opensetup('CREATE');
        $('#modalsetupnew').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
        //baru();
        //isetupnew.modal.modal('hide');
        //isetupnew.onopenmodalcreate();
        //$('#modalsetup').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

</script>

