﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>


<div id="modalsetuptelaahobat" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Telaah</h4>
            </div>
            <form id="lookuppakettelaahobat" autocomplete="off">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">


                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table id="tableTelaahObat" class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="">Telaah</th>
                                    <th class=""></th>
                                    <th class="">Keterangan</th>
                                </tr>
                            </thead>
                            <tbody id="targetTelaahObat">
                            </tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="_postTelaaahObat();"><i class="glyphicon icon-check"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    _dataTelaaahObat();
    function _dataTelaaahObat() {
        $.ajax({
            url: "@Url.Action("dataTelaahObat", "FarmasiBilling")",
            type: "GET",
            dataType : "JSON",
            success: function (dt) {
                if (dt.IsSuccess) {
                    var html = "";
                    for (var i = 0; i < dt.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+dt.Data[i].NoUrut+`" />
                                    </td>
                                    <td class="">
                                    `+dt.Data[i].Telaah+`
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahobat" name="checkTelaahObat" value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="form-control keteranganobat" name="ketTelaahObat" value="" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaahObat").html(html);
                } else {
                    alert(dt.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });
    }

    function _postTelaaahObat() {
        loading(true);

        var option = [];
        $("#tableTelaahObat").find("tr").each(function () {
            NoUrut = $(this).find("td:eq(0) input[type='text']").val();
            cekTelaah = $(this).find("td:eq(2) input[type='checkbox']").is(':checked');
            ketTelaah = $(this).find("td:eq(3) input[type='text']").val();
            option.push({
                NoUrut: NoUrut,
                cekTelaah: cekTelaah,
                ketTelaah: ketTelaah
            });
        });


        $.ajax({
            url: "@Url.Action("postTelaahObat", "FarmasiBilling")",
            type: "POST",
            data: {
                nobukti: $("input[name='NoBukti']").val(),
                option : option
            },
            dataType : "JSON",
            success: function (dt) {
                if (dt.IsSuccess) {
                    alert(dt.Message);
                } else {
                    alert(dt.Message);
                }

                $("#modalsetuptelaahobat").modal('hide');
                $("#tableTelaahObat").find("tr td:eq(2) input[type='checkbox']").val(false);
                $("#tableTelaahObat").find("tr td:eq(3) input[type='text']").val("");
                loading(false);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
                loading(false);
            }
        });
    }
</script>


