﻿@{
    ViewBag.Title = "Info Barang Death Stock";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table th,
    #formtable table td {
        white-space: nowrap;
    }
</style>

<div class="panel panel-flat" id="formtable">
    <div class="dataTables_wrapper no-footer" style="display: block;">
        <form onsubmit="refreshdata(event)">
            <div class="datatable-header" style="padding-bottom: 20px;">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="search" name="filter" class="form-control" placeholder="Type to filter...">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="icon-search4"></i></button>
                </div>
            </div>
        </form>
        <div class="datatable-scroll">
            <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                <thead>
                    <tr>
                        <th style="width: 100px;">Kode</th>
                        <th>Nama</th>
                        <th style="width: 150px;">Kategori</th>
                        <th style="width: 150px;">Kelompok</th>
                        <th style="width: 120px;" class="text-center">DEATH STOK</th>
                    </tr>
                </thead>
                <tbody id="inputtbody"></tbody>
            </table>
        </div>
        <div class="datatable-footer text-right">
            <div class="form-group">
                <button type="button" onclick="updateonclick()" class="btn btn-primary"><i class="icon-floppy-disk"></i> UPDATE</button>
            </div>
        </div>
    </div>
</div>

<script>
    const refreshdata = (e) => {
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("List")',
            type: 'POST',
            data: { filter: e.target.filter.value },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#inputtbody').html('');
                    r.Data.forEach(x => {
                        _r = '<tr data-id="' + x.Id + '">';
                        _r += '<td>' + x.Kode + '</td>';
                        _r += '<td>' + x.Nama + '</td>';
                        _r += '<td>' + x.Kategori + '</td>';
                        _r += '<td>' + x.Jenis + '</td>';
                        _r += '<td class="text-center"><input class="Death" type="checkbox" ' + (x.Stok ? 'checked' : '') + '/></td>';
                        _r += '</tr>';
                        $('#inputtbody').append(_r);
                    });
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    }

    const updateonclick = () => {
        let data = [];
        $.each($('#inputtbody tr'), (i, v) => {
            data.push({
                Id: $(v).data('id'),
                Death: $(v).find('.Death')[0].checked
            });
        });
        $.ajax({
            url: '@Url.Action("Save")',
            type: 'POST',
            data: { model: data },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#inputtbody').html('');
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    }
</script>