﻿@using Inventory.Helper
<style>
    #modallookupbarang .table td,
    #modallookupbarang .table th {
        white-space: nowrap;
    }
</style>

<div id="modallookupbarang" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <a class="panel-action hidden action-filter" href="javascript:itable.openfilter()"></a>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barang</h4>
            </div>
            <form id="lookupbarang">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <input type="hidden" data-itable-filter="Lokasi">
                        <input type="hidden" data-itable-filter="LokasiID">
                        <div class="dataTables_wrapper">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Filter</label>
                                    <input type="text" id="lkpbarangamprah" name="all" data-itable-filter="All" class="form-control" value="" />
                                </div>
                                <div class="col-md-3">
                                    <label>Sub Kategori</label>
                                    <div class="input-group">
                                        <span class=" input-group-addon">
                                            <input id="plhfiltersub" name="Pilihfiltersub" onchange="itablelookupbarang.pageindex = 0; itablelookupbarang.refresh();" type="checkbox" onclick="itablelookupbarang.pilihsub()" />
                                        </span>
                                        <select id="subkategorislct" name="subKategori" onchange="itablelookupbarang.pageindex = 0; itablelookupbarang.refresh();" data-itable-filter="SubKategori" class="form-control" disabled>@Html.Raw(HList.SetupSubKategori)</select>
                                    </div>
                                </div>
                                <div class="col-md-2 hide">
                                    <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
                                </div>
                                <label>
                                    <label>Show:</label>
                                    <select class="form-control itable-pagesize" style="width: auto;">
                                        <option selected>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="dataTables_length">
                            
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Barang">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="Asal_QtyStok">Stok Asal<i></i></th>
                                    <th class="sorting" data-itable-sorting="Tujuan_QtyStok">Stok Tujuan<i></i></th>
                                    <th class="sorting" data-itable-sorting="Kategori">Kategori<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupbarang.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Section</label>
                            <div class="col-md-8">
                                <select name="resepfilter" class="form-control" value="">@Html.Raw(HList.FilterStatus)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var itablelookupbarang;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupbarang = new iTable({
            url: '@Url.Action("ListLookupBarang")',
            table: document.getElementById('lookupbarang'),
            orderby: 'Kode_Barang',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupbarang.active(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.Stok + '</td>';
                        tbody += '<td class="text-center">' + value.QtyStok + '</td>';
                        //tbody += '<td class="hidden">'  '</td>';
                        tbody += '<td>' + value.NamaKategori + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupbarang').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
            $('#lkpbarangamprah').val('');
            $(isetup.form).find('tbody tr .Qty').last().focus();
        });
        $('#modallookupbarang').on('shown.bs.modal', function (e) {
             $('#modallookupbarang [data-itable-filter="All"]').focus();
        });

        itablelookupbarang.active = (t) => {
            $(t).toggleClass('bg-primary');
        }

        itablelookupbarang.openmodal = (v) => {
            itablelookupbarang.frompr = v || false;
            if (!(v || false) && !($(isetup.form['Kepada']).find('option:selected').data('lokasi') || false)) {
                alerterror('Kepada harus diisi');
                return;
            }
            $('#lookupbarang [data-itable-filter="SubKategori"]')[0].value = '';
            $('#modallookupbarang [data-itable-filter="Lokasi"]').val(v ? $(isetup.form['Kepada']).find('option:selected').data('lokasi') : $(isetup.form['Kepada']).find('option:selected').data('lokasi'));
            $('#modallookupbarang [data-itable-filter="LokasiID"]').val(v ? $(isetup.form['DariSection']).find('option:selected').data('lokasi') : $(isetup.form['DariSection']).find('option:selected').data('lokasi'));
            itablelookupbarang.pageindex = 0;
            itablelookupbarang.refresh();
            $('#modallookupbarang').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        }

        itablelookupbarang.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));

                if (itablelookupbarang.frompr) {
                    //id, kode, nama, konversi, kategori, satuan, minstok, maxstok, qtysystem, qty, harga
                    isetuppr.adddetailbody(
                        model.Id,
                        model.Kode,
                        model.Nama,
                        model.Konversi,
                        model.Kategori,
                        model.Satuan,
                        model.MinStok,
                        model.MaxStok,
                        model.QtyStok,
                        1,
                        model.Harga
                    );
                } else {
                    //id, kode, nama, konversi, satuan, qty
                    isetup.adddetailbody(
                        model.Id,
                        model.Kode,
                        model.Nama,
                        model.Konversi,
                        model.Satuan,
                        model.QtyStok,
                        1
                    );
                }
            });
            $(t).closest('.modal').modal('hide');
            $('.nomoramprahan').blur();
        }

        itablelookupbarang.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtablelookup [data-itable-filter="All"]')[0].value;
            f['subkategori'].value = $('#lookupbarang [data-itable-filter="SubKategori"]')[0].value;
            $('#modalfilter').modal();
        }

        itablelookupbarang.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#lookupbarang [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#lookupbarang [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
            $('#lkpbarangamprah').val('');
        }

        itablelookupbarang.pilihsub = function () {
            $checkbox = $("#plhfiltersub").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#lookupbarang [data-itable-filter="SubKategori"]').prop('disabled', false);
                //$('#lookupbarang [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#lookupbarang [data-itable-filter="SubKategori"]')[0].value = '';
                $('#lookupbarang [data-itable-filter="SubKategori"]').prop('disabled', true);
            }

        }

    });

</script>
