﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Retur Penerimaan</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="SupplierId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal Retur</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Supplier</label>
                                    <div class="col-md-9">
                                        <select name="Supplier" required>@Html.Raw(HList.Supplier)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Lokasi</label>
                                    <div class="col-md-9">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">No</td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center" style="min-width: 80px;">Qty</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">PPN</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="PPN" onchange="isetup.hitungtotal()" />
                                            </div>
                                            <div class="input-group-addon">
                                                10%
                                            </div>
                                            <input type="text" name="PPNNilai" class="form-control all-readonly text-right" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Include PPN</label>
                                    <div class="col-md-1 control-label">
                                        <label>
                                            <input type="checkbox" name="IncludePPN" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Grand Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value

                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Supplier'].value = r.Data.Supplier_ID;
                    t['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                    t['Keterangan'].value = r.Data.Keterangan;
                    t['IncludePPN'].checked = r.Data.IncludePPN;
                    t['PPN'].checked = r.Data.PPN;
                    t['PPNNilai'].value = r.Data.PPNNilai;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        //id, kode, nama, satuan, konversi, qty, harga, lockharga
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Konversi,
                            value.Qty,
                            value.Harga
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        Supplier: t['Supplier'].value,
                        Lokasi: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        Keterangan: t['Keterangan'].value,
                        TotalNilai: getfloatfromcurrency(t['GrandTotal'].value),
                        PPN: getfloatfromcurrency(t['PPNNilai'].value),
                        IncludePPN: t['IncludePPN'].checked,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Harga: parseFloat(isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue()),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.form['Supplier'].value = '';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['Supplier']).select2();
        $(isetup.form['Lokasi']).select2();
        isetup.cleave_detail_harga = [];

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
        };

        isetup.adddetailbody = (id, kode, nama, satuan, konversi, qty, harga, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const jumlah = harga * qty;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const po = parseFloat(tr.find('.Qtypo').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jum = harga * qty;
            const diskon = jum / 100 * (disc || 0);
            const jumlah = jum - diskon;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
            if (qty > po) {
                alerterror('Qty terima tidak boleh lebih besar dari pada Qty PO');
                tr.find('.Qty').val(po);
                isetup.hitungjumlah(t);
            }
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const ppn = isetup.form['PPN'].checked ? (subtotal / 100 * 10) : 0;
            const grandtotal = subtotal + ppn;

            isetup.form['PPNNilai'].value = getcurrencyfromfloat(Math.round(ppn)) || 0;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(Math.round(grandtotal)) || 0;
        }
    });
</script>

