﻿@{
    ViewBag.Title = "Infor Stok Gudang";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

    <style>
        #formtable table td,
        #formtable table th {
            white-space: nowrap;
        }
    </style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="dataTables_filter">
                    <label>
                        <span>Filter:</span>
                        <input type="search" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                    </label>
                </div>
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th data-itable-sorting="Kode_Barang" class="sorting" style="width:100px;">Kode<i></i></th>
                            <th data-itable-sorting="Nama_Barang" class="sorting">Nama<i></i></th>
                            <th data-itable-sorting="Kode_Satuan_Beli" class="sorting text-center" style="width:100px;">Satuan Beli<i></i></th>
                            <th data-itable-sorting="Satuan_Stok" class="sorting text-center" style="width:100px;">Satuan Stok<i></i></th>
                            <th data-itable-sorting="Konversi" class="sorting text-center" style="width:100px;">Konversi<i></i></th>
                            <th data-itable-sorting="Qty_Stok" class="sorting text-center" style="width:100px;">Stok<i></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Barang',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';

                        // column
                        tbody += '<td>' + (value.Kode || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.SatuanBeli || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.SatuanStok || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.Konversi || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.Stok || '0') + '</td>';

                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();
    });
</script>