﻿@{
    ViewBag.Title = "Order";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

    <style>
        .itable-status.bg-grey-300 a:hover {
            background-color: #999;
        }

        .itable-status.bg-primary-300 a:hover {
            background-color: #64b5f6;
        }

        #formtable:not(.itable-hide-po) thead th:nth-child(1),
        #formtable:not(.itable-hide-po) tbody td:nth-child(1) {
            display: none;
        }

        .itable-hide-po thead th:nth-child(4),
        .itable-hide-po tbody td:nth-child(4) {
            display: none;
        }

        #formtable table td,
        #formtable table th {
            white-space:nowrap;
        }
    </style>

<form id="formtable" class="itable-hide-po">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                    <li><a class="panel-action action-help" href="javascript:itable.oprnmodalhelp()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <input type="hidden" data-itable-filter="All" />
                <input type="hidden" data-itable-filter="Realisasi" value="Realisasi" />
                <input type="hidden" data-itable-filter="PeriodeStart" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
                <input type="hidden" data-itable-filter="PeriodeEnd" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <ul class="nav nav-pills nav-pills-toolbar nav-justified" style="margin-bottom:0;">
                <li class="itable-status"><a onclick="itable.changestatus('Realisasi', this)">Realisasi</a></li>
                <li class="itable-status"><a onclick="itable.changestatus('Open', this)" id="btnlistopen">Open</a></li>
            </ul>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs">
                    <thead>
                        <tr>
                            <th style="width: 10px;"></th>
                            <th class="sorting text-center" data-itable-sorting="Tgl_Permintaan" style="width: 100px;">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="No_Permintaan" style="width: 180px;">No Perminaan<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Tgl_Dibutuhkan" style="width: 180px;">Tgl Dibutuhkan<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Supplier">Supplier<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Periode</label>
                            <div class="col-md-8">
                                <input type="date" name="periode" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Sampai</label>
                            <div class="col-md-8">
                                <input type="date" name="sampai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalhelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center alpha-grey">BELUM TERIMA</td>
                                <td class="text-center alpha-primary">BELUM SEMUA</td>
                                <td class="text-center alpha-success">SUDAH TERIMA</td>
                                <td class="text-center alpha-danger">BATAL / CANCEL</td>
                            </tr>
                            <tr>
                                <td class="text-center alpha-grey"><i style="font-size: 40px;" class="icon-stack-minus text-grey"></i></td>
                                <td class="text-center alpha-primary"><i style="font-size: 40px;" class="icon-stack-plus text-primary"></i></td>
                                <td class="text-center alpha-success"><i style="font-size: 40px;" class="icon-stack-check text-success"></i></td>
                                <td class="text-center alpha-danger"><i style="font-size: 40px;" class="icon-stack-cancel text-danger"></i></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'No_Permintaan',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="5" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        let icon = '';
                        if (value.Realisasi) {
                            let status = '';
                            let statustext = '';

                            if (value.Batal) {
                                status = 'danger';
                                statustext = 'BATAL';
                                icon = '<i class="icon-stack-cancel text-danger"></i>';
                            } else if (value.Status == 'Terima Semua') {
                                status = 'success';
                                statustext = 'SUDAH TERIMA';
                                icon = '<i class="icon-stack-check text-success"></i>';
                            } else if (value.status == 'Terima Sebagian') {
                                status = 'primary';
                                statustext = 'TERIMA SEBAGIAN';
                                icon = '<i class="icon-stack-plus text-primary"></i>';
                            } else {
                                status = 'grey';
                                statustext = 'BELUM TERIMA';
                                icon = '<i class="icon-stack-minus text-grey"></i>';
                            }

                            tbody += '<tr class="alpha-' + status + '" title="' + statustext + '">';
                        }
                        else
                            tbody += '<tr>';

                        // column
                        tbody += '<td class="text-center">' + icon + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.No + '</td>';
                        tbody += '<td class="text-center">' + value.TanggalDIbutuhkan + '</td>';
                        tbody += '<td>' + (value.Supplier || '-') + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        if (value.Realisasi) {
                            tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\', { id : \'' + value.No + '\'})"><i class="icon-eye"></i> View</a></li>';
                            tbody += '<li><a target="_blank" href="@Url.Action("ExportPDF", "Report", new { category = "Transaksi", filename= "SIM_Rpt_GD_Order.rpt" })&param=[{\'Name\':\'@@NoOrder\',\'ParameterType\':4,\'Value\':\'' + value.No + '\'}]"><i class="icon-printer"></i> Report</a></li>';
                        } else {
                            tbody += '<li><a href="javascript:isetup.opensetup(\'CREATE\',{ id : \'' + value.No + '\'})"><i class="icon-download"></i> Order</a></li>';
                        }

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.oprnmodalhelp = () => {
            $('#modalhelp').modal();
        }

        itable.changestatus = (status, t) => {
            $('#formtable .itable-status').removeClass('bg-grey-300');
            $('#formtable .itable-status').removeClass('bg-primary-300');
            if (status === 'Realisasi') {
                $(t).closest('li').addClass('bg-primary-300');
                $(itable.table).find('[data-itable-sorting="No_Permintaan"]').html("No Order");
                $(itable.table).addClass('itable-hide-po');
                $(itable.table).find('table').removeClass('table-striped');
            } else {
                $(itable.table).removeClass('itable-hide-po');
                $(t).closest('li').addClass('bg-grey-300');
                $(itable.table).find('[data-itable-sorting="No_Permintaan"]').html("No Permintaan");
                $(itable.table).find('table').addClass('table-striped');
            }
            $('#formtable [data-itable-filter="Realisasi"]').val(status);
            itable.pageindex = 0;
            itable.refresh();
        };

        itable.changestatus('Open', document.getElementById('btnlistopen'));
    });
</script>

@Html.Partial("Setup")