﻿@using Inventory.Helper
@{
    var configppnnilai = ViewBag.PPNNilai;
}
<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Penerimaan Barang Langsung</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="SupplierId" />
                        <input type="hidden" name="OrderId" />

                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Penerimaan</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Bukti</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoBukti" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div id="nopenerimaanmanual" class="form-group hide">
                                        <label class="col-md-3">No.Penerimaan Manual</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoPenerimaanManual" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="date" required name="Tanggal" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Order</legend>
                                    <div class="form-group hide">
                                        <label class="col-md-3 control-label">No PO</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoPo" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tgl Order</label>
                                        <div class="col-md-9">
                                            <input type="date" name="TanggalOrder" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Supplier</label>
                                        <div class="col-md-9">
                                            <select name="SupplierNama" required></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Lokasi</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Lokasi</label>
                                        <div class="col-md-9">
                                            <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No DO</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input id="nodo" type="text" required name="NoDO" class="form-control" />
                                                <span class="input-group-addon">
                                                    <input type="checkbox" name="NoDOCheked" onclick="checkednodo()" />
                                                    Auto
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Jatuh Tempo</label>
                                        <div class="col-md-9">
                                            <input type="date" name="JatuhTempo" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">No</td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Qty PO</td>
                                                <td class="text-center">Tlh Terima</td>
                                                <td class="text-center" style="min-width: 80px;">Qty Terima</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-right">Disc%</td>
                                                <td class="text-right">Jumlah</td>
                                                <td class="text-center">Tgl Exp</td>
                                                <td class="text-center">No Batch</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remak</label>
                                    <div class="col-md-9">
                                        <textarea name="Remak" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Ongkos Kirim</label>
                                    <div class="col-md-9">
                                        <input type="text" name="OngkosKirim" onchange="isetup.hitungtotal()" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Potongan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Potongan" onchange="isetup.hitungtotal()" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">PPN</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="PPN" onchange="isetup.hitungtotal()" />
                                            </div>
                                            <div class="input-group-addon">
                                                @configppnnilai%
                                            </div>
                                            <input type="text" name="PPNNilai" class="form-control all-readonly text-right" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Grand Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                var nocheckeddefault = '@Request.Cookies["Inventory_Section_Id"].Value';
                var gudanggizi = "SEC031";
                if (r.IsSuccess) {
                    var t = isetup.form;
                    if (nocheckeddefault == gudanggizi) {
                        isetup.form['NoPenerimaanManual'].value = r.Data.NoPenerimaanManual;
                    } else {
                        $('#nopenerimaanmanual').addClass('hidden');
                    }

                    // value
                    t['Id'].value = r.Data.Id;
                    t['SupplierId'].value = r.Data.SupplierId;
                    t['NoPenerimaanManual'].value = r.Data.NoPenerimaanManual;
                    t['OrderId'].value = r.Data.OrderId;
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['NoPo'].value = r.Data.NoPo;
                    t['TanggalOrder'].value = r.Data.TanggalOrder;
                    t['SupplierNama'].value = r.Data.SupplierNama;
                    t['Lokasi'].value = $(t['Lokasi']).find('option[data-lokasi="' + r.Data.Lokasi + '"]').val();
                    t['NoDO'].value = r.Data.NoDO;
                    t['JatuhTempo'].value = r.Data.JatuhTempo;
                    t['Remak'].value = r.Data.Remak;

                    if (r.Data.SupplierId) {
                        const option = new Option(`${r.Data.SupplierNama}`, r.Data.SupplierId, true, true);
                        $(t['SupplierNama']).append(option);
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.QtyPO,
                            value.TlhTerima,
                            value.QtyTerima,
                            value.Harga,
                            value.Disc,
                            value.TanggalExp,
                            value.NoBatch,
                            true
                        );
                    });
                    $('.nomorpenerimaanlangsung').blur();
                    isetup.init();

                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['DariSection']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        NoPenerimaanManual: t['NoPenerimaanManual'].value,
                        Tanggal: t['Tanggal'].value,
                        Potongan: parseFloat(isetup.clave_potongan.getRawValue()),
                        DP: 0,
                        Remak: t['Remak'].value,
                        OngkosKirim: parseFloat(isetup.clave_ongkoskirim.getRawValue()),
                        NoDO: t['NoDO'].value,
                        SupplierId: t['SupplierNama'].value,
                        OrderId: t['OrderId'].value,
                        Total: getfloatfromcurrency(t['GrandTotal'].value),
                        LokasiId: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        JatuhTempo: t['JatuhTempo'].value,
                        PPNNilai: getfloatfromcurrency(t['PPNNilai'].value),
                        PPN: t['PPN'].checked,
                        AutoDO: t['NoDOCheked'].checked,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                                Qty: parseFloat($(value).find('.Qty').val()),
                                Harga: isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                                Disc : $(value).find('.Disc').val(),
                                TanggalExp: $(value).find('.TglExp').val(),
                                NoBatch: $(value).find('.NoBatch').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                $('.nomorpenerimaan').blur();
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['JatuhTempo'].value = formatdate(new Date());
                isetup.form['TanggalOrder'].value = formatdate(new Date());
                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.form['SupplierNama'].value = '';
                $(isetup.form['SupplierNama']).trigger('change');
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['SupplierNama']).select2({
            ajax: {
                url: "@Url.Action("Supplier_Permintaan", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['Lokasi']).select2();
        isetup.cleave_detail_harga = [];

        isetup.clave_ongkoskirim = new Cleave(isetup.form['OngkosKirim'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        isetup.clave_potongan = new Cleave(isetup.form['Potongan'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
            autoid_detail(t);
            $('.nomorpenerimaanlangsung').blur();
        };

        isetup.adddetailbody = (id, kode, nama, satuan, qtypo, tlhterima, qtyterima, harga, disc, tglexp, nobatch, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }


            const jum = harga * (qtyterima || 0);
            const diskon = jum / 100 * disc;
            const jumlah = jum - diskon;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text" style="max-width:70px"><input class="nomorpenerimaanlangsung" readonly onblur="autoid_detail(this)"></td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            //_detail += '<td class="td-text text-center Qtypo">' + (qtypo || 0) + '</td>';
            _detail += '<td><input type="text"  class="form-control all-readonly text-right Qtypo" step="any" min="0" value="' + qtypo + '" /></td>';
            _detail += '<td class="td-text text-center">' + (tlhterima || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control  text-right Qty" step="any" min="0" value="' + qtyterima + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" /></td>';
            //_detail += '<td class="td-text text-right">' + getcurrencyfromfloat(harga) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-center Disc" step="any" min="0" max="100" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';
            _detail += '<td><input type="date" class="form-control text-center required TglExp" value="' + tglexp + '" /></td>';
            _detail += '<td><input type="text" class="form-control NoBatch" value="' + nobatch + '" /></td>';




            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const poqty = parseInt($(isetup.form).find('tbody tr:last-child .Qtypo').val());
            const terimaqty = parseInt($(isetup.form).find('tbody tr:last-child .Qty').val());



            //if (terimaqty > poqty) {
            //    alerterror('Qty Terima Lebih Besar Dari PO');
            //    return;
            //}

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const po = parseFloat(tr.find('.Qtypo').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jum = harga * qty;
            const diskon = jum / 100 * (disc || 0);
            const jumlah = jum - diskon;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
            //if (qty > po)
            //{
            //    alerterror('Qty terima tidak boleh lebih besar dari pada Qty PO');
            //    tr.find('.Qty').val(po);
            //    isetup.hitungjumlah(t);
            //}
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            let ppnnilai = @configppnnilai;
            const ppn = isetup.form['PPN'].checked ? (subtotal / 100 * ppnnilai) : 0;
            const ongkor = parseFloat(isetup.clave_ongkoskirim.getRawValue()) || 0;
            const potongan = parseFloat(isetup.clave_potongan.getRawValue()) || 0;
            const grandtotal = subtotal + ppn + ongkor - potongan;

            isetup.form['PPNNilai'].value = getcurrencyfromfloat(Math.round(ppn)) || 0;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(Math.round(grandtotal)) || 0;
        }
    });

    function checkednodo() {
        if ($("input[name=NoDOCheked]").is(':checked'))
        {
            $('#nodo').prop('required', false);
            $('#nodo').val('Auto').prop('disabled', true);
            $('#nodo').val('Auto');

        }
        else
        {
            $('#nodo').prop('required', true);
            $('#nodo').val('Auto').prop('disabled', false);
            $('#nodo').val('');
        }
    }
</script>

<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        }
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(2) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
    }
</script>