﻿@using Inventory.Helper

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    .panel-red {
        background-color: #c3ebff;
        color: #313447;
    }

    .btn-lain {
        background-color: #2c404c;
        color: #ffffff;
        border-color: #c5c0c0;
    }

    .panel-bodycustom {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 8px;
        position: relative;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resep</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="KodePaket" />
                        <input type="hidden" name="TanggalBukaResep" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Dokter</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Dokter" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Spesialis</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Spesialis" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Section Asal</label>
                                    <div class="col-md-9">
                                        <select name="SectionAsal" required class="all-disabled">@Html.Raw(HList.FarmasiResepSection)</select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            No Resep
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoResep" class="form-control all-readonly" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Reg</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoReg" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <button id="telaahresep_resep" type="button" class="text-bold btn btn-primary btn-proses-telaahresep btn-flash" onclick="isetuptelaahresep()"><i class="icon-book position-left"></i>Kajian Resep</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="datetime-local" name="TanggalResep" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3 control-label">
                                            <label>
                                                Paket Obat
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <label class="input-group-addon">
                                                    <input type="checkbox" class="checkbox-inline" name="PaketObat" />
                                                </label>
                                                <input type="text" name="Paket" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <a id="paketobat" class="btn btn-primary view-disabled" onclick="itablelookuppaket.openmodal()"><i class="icon-search4"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="citoresep" class="col-md-2">
                                            <label>
                                                <input type="checkbox" name="Cito" class="all-disabled" />
                                                Cito
                                            </label>
                                        </div>
                                        <div id="includejasaresep" class="col-md-4">
                                            <label style="float:right">
                                                <input type="checkbox" name="IncludeJasa" />
                                                Include Jasa
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <a style="float:right" class="text-bold teal btn-proses-printresep" onclick="isetupprintresep(this,event)"><i class="icon-printer position-left"></i>Print</a>
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-md-3 control-label">Qty Puyer</label>
                                        <div class="col-md-3">
                                            <input type="text" name="QtyPuyer" class="form-control all-readonly" />
                                        </div>
                                        <label class="col-md-3 control-label">Satuan Puyer</label>
                                        <div class="col-md-3">
                                            <input type="text" name="SatuanPuyer" class="form-control all-readonly" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4 hide">
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <input type="text" name="Nama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <input type="text" name="NRM" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Alamat</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Alamat" class="form-control all-readonly" />
                                            <input type="text" name="Phone_Reg" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Gender</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Gender" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Umur</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Umur" class="form-control all-readonly" />
                                            <input type="text" name="UmurBulan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Berat Badan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="BeratBadan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kerjasama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Kerjasama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Kartu</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoKartu" class="form-control all-readonly" />
                                            <input type="text" name="EstimasiBiaya" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-bodycustom panel-body panel-red has-bg-image">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <b class="h7 text-bold icon-user"></b>
                                            <b class="h7 text-bold" id="Nama"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-profile"></b>
                                            <b class="h7 text-bold" id="NRM"></b>&ensp;
                                            <b class="h7 text-bold" id="JenisKelamin"></b>
                                        </div>
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-phone"></b>
                                            <b class="h7 text-bold" id="Phone_Reg"></b>
                                        </div>
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-calendar"></b>
                                            <b class="h7 text-bold" id="Umur"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <b class="h7 text-bold icon-location4"></b>
                                            <b class="h7 text-bold" id="Alamat"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <b class="h7 text-bold icon-credit-card"></b>
                                            <b class="h7 text-bold" id="Kerjasama"></b>  -
                                            <b class="h7 text-bold" id="NoKartu"></b>
                                        </div>
                                    </div>
                                    <div id="estimas" class="form-group">
                                        <div class="col-md-10">
                                            <b class="h6 text-bold icon-coins"></b>
                                            <b class="h6 text-bold">Estimasi Sisa :</b>&ensp;
                                            <b class="h7 text-bold" id="EstimasiBiaya"></b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tablebarang" class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a id="lookupbaranghide" onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:50px;" class="text-center view-hide"></td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td style="min-width: 100px;">Aturan1</td>
                                                <td style="min-width: 100px;">Aturan2</td>
                                                <td class="text-center">TglED</td>
                                                <td class="text-center">Jml Resep</td>
                                                <td class="text-center">Jml Obat</td>
                                                <td class="text-center">Stok</td>
                                                <td class="text-right" style="min-width: 100px;">Harga</td>
                                                <td class="text-right" style="min-width: 80px;">Disc</td>
                                                <td class="text-right" style="min-width: 100px;">Jumlah</td>
                                                <td class="hide" style="min-width: 180px;">Racikan</td>
                                                <td class="text-left" style="min-width: 100px;">Jenis Racikan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Biaya Racik</label>
                                    <div class="col-md-9">
                                        <input type="text" onchange="isetup.hitungtotal()" name="BiayaRacik" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Grand Total</label>
                                    <div class="col-md-8">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelebihan Plafon</label>
                                    <div class="col-md-8">
                                        <input type="text" name="KelebihanPlafon" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="text-bold pull-left btn-lain btn btn-proses-telaahobat" onclick="isetuptelaahobat()"><i class="icon-book position-left"></i>Telaah Obat</button>
                    <a type="button" class="teal text-bold btn btn-proses-printresep1" onclick="isetupprintresep1(this,event)"><i class="icon-shredder position-left"></i>Print</a>
                    <a style="float:right" type="button" class="teal text-bold btn btn-proses-printeticket" onclick="isetup.printetiket(0)"><i class="icon-shredder position-left"></i>Print e-tiket</a>
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="pull-left btn-delete btn btn-danger"><i class="glyphicon icon-cancel-circle2"></i> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaleresep" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">E-Resep</h4>
            </div>
            <form onsubmit="isetup.modalereseponsubmit(event)">
                <input type="hidden" name="eresepid" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep1" />
                                    06:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep2" />
                                    07:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep3" />
                                    10:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep4" />
                                    11:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep5" />
                                    12:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep6" />
                                    14:00
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep7" />
                                    16:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep8" />
                                    18:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep9" />
                                    21:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep10" />
                                    22:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep11" />
                                    24:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep12" />
                                    02:00
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><i class="icon-check"></i> OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    function isetuptelaahresep() {
        $.ajax({
            url: "@Url.Action("checkTelaahFarmasi","FarmasiResep")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoResep']").val(),
            },
            dataType : "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {

                    _dataTelaaah();
                    $("#modalsetuptelaahresep").modal('show');
                } else {
                    $("#modalsetuptelaahresep").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaah").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });

        $('#modalsetuptelaahresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

</script>

<script>
    function isetuptelaahobat() {
        $.ajax({
            url: "@Url.Action("checkTelaahObat", "FarmasiResep")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoBukti']").val(),
            },
            dataType : "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {

                    _dataTelaaahObat();
                    $("#modalsetuptelaahobat").modal('show');
                } else {
                    $("#modalsetuptelaahobat").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaahObat").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });

        $('#modalsetuptelaahobat').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

    const isetupprintresep1 = (t, e) => {
        e.preventDefault();
        window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=SIM_Rpt_Resep.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoResep'].value + '\'}]');
        $('#modalreport').modal('hide');
    }

</script>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    //Keterangan = m.KUrlterangan,
                    //BiayaRacik = m.BiayaRacik ?? 0,
                    //KelebihanPlafon = m.TotalKelebihanPlafon ?? 0,

                    t['NoBukti'].value = r.Data.NoBukti;
                    t['KodePaket'].value = r.Data.KodePaket;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Dokter'].value = r.Data.Dokter;
                    t['Spesialis'].value = r.Data.Spesialis;
                    t['SectionAsal'].value = r.Data.SectionAsal;
                    t['PaketObat'].value = r.Data.PaketObat;
                    t['Paket'].value = r.Data.Paket;
                    t['IncludeJasa'].checked = r.Data.IncludeJasa;
                    t['NoResep'].value = r.Data.NoResep;
                    t['TanggalResep'].value = r.Data.TanggalResep + 'T' + r.Data.JamResep;
                    t['Cito'].checked = r.Data.Cito;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['Phone_Reg'].value = r.Data.Phone_Reg;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Gender'].value = r.Data.Gender;
                    t['Umur'].value = r.Data.UmurTahun ? (r.Data.UmurTahun + ' Thn ' + r.Data.UmurBulan + ' Bln') : '';
                    t['UmurBulan'].value = r.Data.UmurBulan;
                    t['BeratBadan'].value = r.Data.UmurBulan;
                    t['Kerjasama'].value = r.Data.Kerjasama;
                    t['NoKartu'].value = r.Data.NoKartu;
                    t['Keterangan'].value = r.Data.Keterangan;

                    //label
                    $('#Nama').text(r.Data.Nama);
                    $('#Alamat').text(r.Data.Alamat);
                    $('#Phone_Reg').text(r.Data.Phone_Reg);
                    $('#Kerjasama').text(r.Data.Kerjasama);
                    $('#NoKartu').text(r.Data.NoKartu);
                    if (r.Data.Kerjasama == 'BPJS') {
                        $('#EstimasiBiaya').text(getcurrencyfromfloat(r.Data.EstimasiSisa));
                        $('#estimas').removeClass('hidden');
                    } else if (r.Data.Kerjasama != 'BPJS') {
                        $('#EstimasiBiaya').text(getcurrencyfromfloat(r.Data.EstimasiSisa));
                        $('#estimas').addClass('hidden');
                    }
                    $('#EstimasiBiaya').text(getcurrencyfromfloat(r.Data.EstimasiSisa));
                    $('#NRM').text('[' + r.Data.NRM + ']');
                    if (r.Data.Gender == 'M') {
                        $('#JenisKelamin').addClass('fa fa-mars fa-lg');
                    } else if (r.Data.Gender == 'F') {
                        $('#JenisKelamin').addClass('fa fa-venus fa-lg');
                    }
                    $('#Umur').text(r.Data.UmurTahun ? (r.Data.UmurTahun + ' Thn ' + r.Data.UmurBulan + ' Bln') : '');

                    isetup.cleave_BiayaRacik.setRawValue(r.Data.BiayaRacik);
                    isetup.cleave_KelebihanPlafon.setRawValue(r.Data.KelebihanPlafon);

                    if (t['_PROCESS'].value === 'VIEW') {
                        if (r.Data.SudahTelaahResep == 'Sudah Ada') {
                            $('#telaahresep_resep').removeClass('btn-flash');
                        } else {
                            $('#telaahresep_resep').addClass('btn-flash');
                        }
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Aturan1,
                            value.Aturan2,
                            value.TglED,
                            value.JumlahResep,
                            value.JumlahObat,
                            value.Stok,
                            value.Harga,
                            value.LockStock,
                            value.Disc,
                            value.Racikan,
                            false,
                            value.Racikan,
                            value.Eresep1,
                            value.Eresep2,
                            value.Eresep3,
                            value.Eresep4,
                            value.Eresep5,
                            value.Eresep6,
                            value.Eresep7,
                            value.Eresep8,
                            value.Eresep9,
                            value.Eresep10,
                            value.Eresep11,
                            value.Eresep12,
                        );
                    });

                    isetup.modal.modal({ backdrop: 'static' });

                    isetup.init();
                    var t = isetup.form;
                    //$(t).find('.btn-proses-telaahresep').removeClass('hide');

                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        TanggalBukaResep: t['TanggalBukaResep'].value,
                        NoReg: t['NoReg'].value,
                        Paket: t['PaketObat'].checked,
                        KodePaket: t['KodePaket'].value,
                        NoResep: t['NoResep'].value,
                        Keterangan: t['Keterangan'].value,
                        IncludeJasa: t['IncludeJasa'].checked,
                        Total: getfloatfromcurrency(t['SubTotal'].value),
                        BiayaRacik: parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0,
                        KelebihanPlafon: parseFloat(isetup.cleave_KelebihanPlafon.getRawValue()) || 0,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            var m = isetup.cleave_detail_harga.find(x => x.id === $(value).data('id'));
                            return {
                                Id : $(value).data('id'),
                                Santuan: $(value).find('.Satuan').val(),
                                Obat: parseFloat($(value).find('.Qty').val()),
                                QtyStok: $(value).find('.Stok').val(),
                                Lock: $(value).find('.LockStock').val(),
                                AturanPakai1: $(value).find('.AturanPakai1').val(),
                                AturanPakai2: $(value).find('.AturanPakai2').val(),
                                Harga: m.clave.getRawValue(),
                                TanggalED: $(value).find('.TanggalED').val(),
                                Disc: $(value).find('.Disc').val(),
                                Racik: $(value).find('.JenisRacik').val(),
                                WaktuTiket1: m.eresep1 || false,
                                WaktuTiket2: m.eresep2 || false,
                                WaktuTiket3: m.eresep3 || false,
                                WaktuTiket4: m.eresep4 || false,
                                WaktuTiket5: m.eresep5 || false,
                                WaktuTiket6: m.eresep6 || false,
                                WaktuTiket7: m.eresep7 || false,
                                WaktuTiket8: m.eresep8 || false,
                                WaktuTiket9: m.eresep9 || false,
                                WaktuTiket10: m.eresep10 || false,
                                WaktuTiket11: m.eresep11 || false,
                                WaktuTiket12: m.eresep12 || false,
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    //isetup.modal.modal('hide');
                    itable.refresh();
                    $(isetup.form).find('.btn-proses-telaahobat').removeClass('hide');
                    $(isetup.form).find('.btn-save').addClass('hide');

                    isetup.init();
                    var t = isetup.form;
                    if (t['_PROCESS'].value === 'CANCEL') {
                        alertpopup('Cancel Sukses', 'success');
                        isetup.modal.modal('hide');
                        itable.refresh();
                    } else {
                    alertpopup('Simpan Sukses', 'success');
                    $('#lookupbaranghide').addClass('disabled');
                    $("#tablebarang").find("thead tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("thead tr td:nth-child(2)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                    //$('#tablebarang').find('href, i').addClass('hide');
                    $('#tablebarang').find('input, textarea, select').attr('disabled', 'disabled');
                    //print
                        window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=Rpt_NotaFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + r.Id + '\'}]');
                        t['NoBukti'].value = r.Id;

                    $(t).find('.btn-proses-printresep').removeClass('hide');

                    }

                } else alerterror(r.Message);

            },
            setupready: function () {
                var t = isetup.form;
                //if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').removeClass('hide');
                if (t['_PROCESS'].value === 'CREATE' ) {
                    $(t).find('.btn-proses-telaahobat').addClass('hide');
                    $(t).find('.btn-proses-printresep').addClass('hide');
                    //$(t).find('.btn-proses-telaahresep').addClass('hide');
                    $("#tablebarang").find("thead tr td:nth-child(1)").removeClass("hidden");
                    $("#tablebarang").find("thead tr td:nth-child(2)").removeClass("hidden");

                    let h = new Date().getHours();
                    let m = new Date().getMinutes();
                    h = h < 10 ? '0' + h : h;
                    m = m < 10 ? '0' + m : m;
                    const time = 'T' + h + ':' + m;

                    isetup.form['TanggalBukaResep'].value = formatdate(new Date()) + time;
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                }
                else if (t['_PROCESS'].value === 'CANCEL') {
                    $(t).find('[type="submit"].btn-danger').removeClass('hide');
                    $(t).find('.btn-proses-telaahobat').addClass('hide');
                    $(t).find('.btn-proses-telaahresep').addClass('hide');
                    $(t).find('.btn-proses-printresep').addClass('hide');
                    $("#tablebarang").find("thead tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("thead tr td:nth-child(2)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                    //$('#tablebarang').find('href, i').addClass('hide');
                    $('#tablebarang').find('input, textarea, select').attr('disabled', 'disabled');
                }

                else if (t['_PROCESS'].value === 'VIEW') {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                    $(t).find('.btn-proses-printresep').removeClass('hide');
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                    $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");


                }

                //label
                $('#Nama').text(isetup.form['Nama'].value);
                $('#Alamat').text(isetup.form['Alamat'].value);
                $('#Kerjasama').text(isetup.form['Kerjasama'].value);
                $('#NoKartu').text(isetup.form['NoKartu'].value);
                if (isetup.form['Kerjasama'].value == 'BPJS') {
                    $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                    $('#estimas').removeClass('hidden');
                } else if (isetup.form['Kerjasama'].value != 'BPJS') {
                    $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                    $('#estimas').addClass('hidden');
                }
                $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                $('#NRM').text('[' + isetup.form['NRM'].value + ']');
                if (isetup.form['Gender'].value == 'M') {
                    $('#JenisKelamin').addClass('fa fa-mars fa-lg');
                } else if (isetup.form['Gender'].value == 'F') {
                    $('#JenisKelamin').addClass('fa fa-venus fa-lg');
                }
                $('#Umur').text(isetup.form['Umur'].value);

            },
            onopenmodalcreate: function (t, param) {
                $.ajax({
                    url: '@Url.Action("DetailModel")',
                    type: 'POST',
                    data: param,
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            isetup.init();
                            $(isetup.form).find('.input-detail tbody').html('');

                            let h = new Date().getHours();
                            let m = new Date().getMinutes();
                            h = h < 10 ? '0' + h : h;
                            m = m < 10 ? '0' + m : m;
                            const time = 'T' + h + ':' + m;

                            isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                            isetup.form['Dokter'].value = r.Data.Dokter;
                            isetup.form['Spesialis'].value = r.Data.Spesialis;
                            isetup.form['SectionAsal'].value = r.Data.SectionAsal;
                            $(isetup.form['SectionAsal']).trigger('change');
                            isetup.form['PaketObat'].checked = r.Data.Paket;
                            isetup.form['Paket'].value = r.Data.PaketObat;
                            isetup.form['IncludeJasa'].checked = r.Data.PaketObat;
                            isetup.form['NoResep'].value = r.Data.NoResep;
                            isetup.form['TanggalResep'].value = r.Data.ResepTanggal + 'T' + r.Data.ResepJam;
                            isetup.form['Cito'].checked = r.Data.Cito;
                            isetup.form['NoReg'].value = r.Data.NoReg;
                            isetup.form['NRM'].value = r.Data.NRM;
                            isetup.form['Nama'].value = r.Data.NamaPasien;
                            isetup.form['Alamat'].value = r.Data.Alamat;
                            isetup.form['Gender'].value = r.Data.Gender;
                            isetup.form['Umur'].value = r.Data.UmurTahun ? (r.Data.UmurTahun + ' thn ' + r.Data.UmurBulan + ' bln') : '';
                            isetup.form['Kerjasama'].value = r.Data.Kerjasama;
                            isetup.form['NoKartu'].value = r.Data.NoKartu;
                            isetup.form['BeratBadan'].value = r.Data.BeratBadan;
                            isetup.form['Keterangan'].value = r.Data.Keterangan;
                            isetup.form['QtyPuyer'].value = r.Data.QtyPuyer;
                            isetup.form['SatuanPuyer'].value = r.Data.SatuanPuyer;

                            $('#Nama').text(isetup.form['Nama'].value);
                            $('#Alamat').text(isetup.form['Alamat'].value);
                            $('#Kerjasama').text(isetup.form['Kerjasama'].value);
                            $('#NoKartu').text(isetup.form['NoKartu'].value);
                            if (isetup.form['Kerjasama'].value == 'BPJS') {
                                $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                                $('#estimas').removeClass('hidden');
                            } else if (isetup.form['Kerjasama'].value != 'BPJS') {
                                $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                                $('#estimas').addClass('hidden');
                            }
                            $('#EstimasiBiaya').text(getcurrencyfromfloat(isetup.form['EstimasiBiaya'].value));
                            $('#NRM').text('[' + isetup.form['NRM'].value + ']');
                            if (isetup.form['Gender'].value == 'M') {
                                $('#JenisKelamin').addClass('fa fa-mars fa-lg');
                            } else if (isetup.form['Gender'].value == 'F') {
                                $('#JenisKelamin').addClass('fa fa-venus fa-lg');
                            }
                            $('#Umur').text(isetup.form['Umur'].value);

                            if (t['_PROCESS'].value === 'CREATE') {
                                if (r.Data.QtyPuyer == null) {
                                    $('citoresep').addClass('hide');
                                    $('includejasaresep').addClass('hide');
                                }
                            }
                            $(t).find('.input-detail tbody').html('');
                            $.each(r.Detail, function (index, value) {
                                isetup.adddetailbody(
                                    value.Id,
                                    value.Kode,
                                    value.Nama,
                                    value.Satuan,
                                    value.Aturan1,
                                    value.Aturan2,
                                    value.TglED,
                                    value.JumlahResep,
                                    value.JumlahObat,
                                    value.Stok,
                                    value.Harga,
                                    value.LockStock,
                                    value.Disc,
                                    value.Racik,
                                    true,
                                    value.JenisRacikan
                                );
                            });
                        } else {
                            alerterror(r.Message);
                            isetup.modal.modal('hide');
                        }
                    },

                    error: function (xhr) { alerterror(xhr); isetup.modal.modal('hide'); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }

                });
                //$("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                //$('#lookupbaranghide').removeClass('disabled');
                if (t['_PROCESS'].value === 'CANCEL') {
                    $(t).find('[type="submit"].btn-danger').removeClass('hide');
                    $(t).find('.btn-proses-telaahobat').addClass('hide');
                    $(t).find('.btn-proses-telaahresep').addClass('hide');
                    $(t).find('.btn-proses-printresep').addClass('hide');
                    $("#tablebarang").find("thead tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("thead tr td:nth-child(2)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                    $('#tablebarang').find('href, i').addClass('hide');
                    $('#tablebarang').find('input, textarea, button, select').attr('disabled', 'disabled');
                }


            }
        });

        isetup.printetiket = id => {
            const kdbrgprnt = isetup.cleave_detail_harga.find(x => x.id == id);
            if (kdbrgprnt == undefined) {
                var kdbrgprntnull = '-';
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprntnull + '\'}]');
            } else {
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprnt.kodebarang + '\'}]');
            }
        };

        $(isetup.form['SectionAsal']).select2();
        isetup.cleave_detail_harga = [];
        isetup.cleave_BiayaRacik = new Cleave(isetup.form['BiayaRacik'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        isetup.cleave_KelebihanPlafon = new Cleave(isetup.form['KelebihanPlafon'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.openmmodaleresep = id => {
            if (isetup.form['_PROCESS'].value !== 'VIEW')
                $('#modaleresep form input[type="checkbox"]').removeAttr('disabled');
            else
                $('#modaleresep form input[type="checkbox"]').attr('disabled', 'disabled');

            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == id);
            f['eresepid'].value = m.id;
            f['eresep1'].checked = m.eresep1;
            f['eresep2'].checked = m.eresep2;
            f['eresep3'].checked = m.eresep3;
            f['eresep4'].checked = m.eresep4;
            f['eresep5'].checked = m.eresep5;
            f['eresep6'].checked = m.eresep6;
            f['eresep7'].checked = m.eresep7;
            f['eresep8'].checked = m.eresep8;
            f['eresep9'].checked = m.eresep9;
            f['eresep10'].checked = m.eresep10;
            f['eresep11'].checked = m.eresep11;
            f['eresep12'].checked = m.eresep12;
            $('#modaleresep').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        };

        isetup.modalereseponsubmit = e => {
            e.preventDefault();
            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == f['eresepid'].value);
            m.eresep1 = f['eresep1'].checked;
            m.eresep2 = f['eresep2'].checked;
            m.eresep3 = f['eresep3'].checked;
            m.eresep4 = f['eresep4'].checked;
            m.eresep5 = f['eresep5'].checked;
            m.eresep6 = f['eresep6'].checked;
            m.eresep7 = f['eresep7'].checked;
            m.eresep8 = f['eresep8'].checked;
            m.eresep9 = f['eresep9'].checked;
            m.eresep10 = f['eresep10'].checked;
            m.eresep11 = f['eresep11'].checked;
            m.eresep12 = f['eresep12'].checked;
            $('#modaleresep').modal('hide');
        };

        isetup.adddetailbody = (id, kode, nama, satuan, aturan1, aturan2, tgled, resep, obat, stok, harga, lockstock, disc, racikan,  hidedelete, jenisracik,
            eresep1,
            eresep2,
            eresep3,
            eresep4,
            eresep5,
            eresep6,
            eresep7,
            eresep8,
            eresep9,
            eresep10,
            eresep11,
            eresep12
        ) => {
            const has = $(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }

            const _jum = obat * harga;
            const _disc = _jum / 100 * disc;
            const jumlah = _jum - _disc;


            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="' + (hidedelete ? 'lockdelete' : '')+ '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            } else {
                _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';
            _detail += '<td class="text-center">';
            _detail += '<a href="#" onclick="isetup.openmmodaleresep(' + id + ');" class="text-primary"><i class="icon-file-text2"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td><input ondblclick ="isetup.clear(this)" class="AturanPakai1 type="text" list="aturan1" placeholder="Aturan Pakai 1 .." style="width:250px"><datalist id="aturan1">@(Html.Raw(HList.FarmasiAturanPakai1))</datalist></td>';
            _detail += '<td><input ondblclick ="isetup.clear(this)" class="AturanPakai2 type="text" list="aturan2" placeholder="Aturan Pakai 2 .." style="width:250px" value="' + (aturan2 || '') +'"><datalist id="aturan2">@(Html.Raw(HList.FarmasiAturanPakai2))</datalist></td>';
            _detail += '<td><input type="date" class="form-control TanggalED" value="' + tgled + '" /></td>';
            _detail += '<td class="td-text text-center">' + (resep || 0) + '</td>';
            //_detail += '<td><input type="number" class="form-control text-right" step="any" min="0" value="' + resep + '" />' + (resep || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.cekqty(this)" class="form-control text-right Qty" step="any" min="0" value="' + obat + '" /></td>';
            _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden Stok" step="any" min="0" value="' + getcurrencyfromfloat(stok) + '" />' + getcurrencyfromfloat(stok) + '</td>';
            //_detail += '<td class="td-text text-center">' + (stok || 0) + '</td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="text-center hidden"><input type="text" class=" all-readonly hidden LockStock" step="any" min="0" value="' + lockstock + '" />' + lockstock + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Disc" step="any" min="0" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';
            _detail += '<td class="hide"><select class="Racik form-control">@(Html.Raw(HList.FarmasiResepRacikan))</select></td>';
            _detail += '<td class="td-text text-left">' + (jenisracik == null ? "-" : jenisracik) + '<input type="hidden" class="form-control JenisRacik" value="' + (jenisracik || '') + '" /></td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            const _inputcarikan = $(isetup.form).find('tbody tr:last-child .Racik').last();
            _inputcarikan[0].value = racikan || 'None';
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                }),
                eresep1: eresep1 || false,
                eresep2: eresep2 || false,
                eresep3: eresep3 || false,
                eresep4: eresep4 || false,
                eresep5: eresep5 || false,
                eresep6: eresep6 || false,
                eresep7: eresep7 || false,
                eresep8: eresep8 || false,
                eresep9: eresep9 || false,
                eresep10: eresep10 || false,
                eresep11: eresep11 || false,
                eresep12: eresep12 || false,
            });
            isetup.hitungtotal();
        };

        isetup.clear = (t) => {
            if (t.value) {
                t.value = "";
            }
        }

        isetup.cekqty = (t) => {
            const ttr = $(t).closest('tr');
            const cekstok = parseFloat(ttr.find('.Stok').val());
            const cekqty = parseFloat(ttr.find('.Qty').val());
            const lockstok = parseFloat(ttr.find('.LockStock').val());
            if (cekqty > cekstok && lockstok == true) {
                alerterror('Jml Obat tidak boleh besar dari Stok');
                ttr.find('.Qty').val(0);
            }
            isetup.hitungjumlah(t);
        }

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const _jum = harga * qty;
            const _dis = _jum / 100 * disc;
            const jumlah = _jum - _dis;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const biayaracik = parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0;
            const grandtotal = subtotal + biayaracik;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });


    });



    const isetupprintresep = (t, e) => {
        e.preventDefault();
        window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=Rpt_NotaFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'}]');
        $('#modalreport').modal('hide');
    }
</script>

