﻿@using Inventory.Models
@using Inventory.Helper

@model LoginViewModel
@{ ViewBag.Title = "Login";
    Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
</head>
<body class="login-container bg-slate-800">
    <div style=" background-size: cover;  position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-size:cover; background-image: url( @Url.Content("~/Themes/assets/images/background1.png") );"></div>
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <img src="~/Themes/assets/images/logo.png" style="width: 30%"/>
                                <h5 class="content-group-lg">@Inventory.Helper.ConfigModel.AppName <small class="display-block">@Inventory.Helper.ConfigModel.UnitName</small></h5>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group has-feedback has-feedback-left">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "required" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                @Html.DropDownListFor(m => m.Lokasi, HList.LokasiLogin, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Lokasi, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-store text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group login-options">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "styled" })
                                            Remember
                                        </label>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <a href="@Url.Action("ForgotPassword")">Forgot password?</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-circle-right2 position-right"></i></button>
                            </div>

                           @* <div class="content-divider text-muted form-group"><span>© 2020. @Inventory.Helper.ConfigModel.AppName by <a href="https://www.sanatasystem.net/" target="_blank">Sanata System</a></span></div>*@
                        </div>}
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            @if (Request.Cookies["Inventory_Section_Id"] != null)
            {
                @:$('#Lokasi').val('@Request.Cookies["Inventory_Section_Id"].Value');
            }
        });
    </script>
</body>
</html>