﻿@using Inventory.Helper
<style>
    #modallookupregistrasi table td,
    #modallookupregistrasi table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupregistrasi" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registrasi</h4>
            </div>
            <form id="lookupregistrasi" autocomplete="off">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input id="filterbilling" type="text" onchange="itablelookupregistrasi.refresh()" class=" form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupregistrasi.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="NoReg">No Reg<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="TglReg">Tanggal<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="RawatInap">Rawat Inap<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="NRM">NRM<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="JenisKelamin">Gender<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Customer">Perusahaan<i></i></th>
                                    <th class="sorting" data-itable-sorting="NoKartu">NoKartu<i></i></th>
                                    <th class="sorting" data-itable-sorting="Alamat">Alamat<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupregistrasi.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupregistrasi;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupregistrasi = new iTable({
            url: '@Url.Action("ListLookupregistrasi")',
            table: document.getElementById('lookupregistrasi'),
            orderby: 'NoReg',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupregistrasi.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.NoReg + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td class="text-center"><i class="icon-' + (value.RawatInap ? 'checkmark4' : 'minus3') + '"></i></td>';
                        tbody += '<td class="text-center">' + value.NRM + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.Gender + '</td>';
                        tbody += '<td>' + (value.Perusahaan || '-') + '</td>';
                        tbody += '<td>' + (value.NoKartu || '-') + '</td>';
                        tbody += '<td>' + (value.Alamat || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        $('#modallookupregistrasi').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
            itablelookupregistrasi.refresh();
            $('#filterbilling').val('');
        });
        $('#modallookupregistrasi').on('shown.bs.modal', function (e) {
            $('#modallookupregistrasi [data-itable-filter="All"]').focus();
            $('#filterbilling').val('');
        });

        itablelookupregistrasi.openmodal = function (t) {
            $('#filterbilling').val('');
            itablelookupregistrasi.refresh();
            $('#modallookupregistrasi').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupregistrasi').css('z-index') - 1);
        }

        itablelookupregistrasi.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupregistrasi.selected(t);
                $('#filterbilling').val('');
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupregistrasi.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['Nama'].value = model.Nama;
            isetup.form['NoKartu'].value = model.NoKartu;
            isetup.form['NoReg'].value = model.NoReg;
            //isetup.form['Dokter'].value = model.Dokter;
            //$(isetup.form['Dokter']).trigger('change');
            //isetup.form['Perusahaan'].value = model.Perusahaan;
            //$(isetup.form['Perusahaan']).trigger('change');

            $('#Nama').val(model.Nama);
            if (model.Perusahaan == "BPJS KESEHATAN") {
                $('#tipepasien').val(9).trigger('change');
            } else if (model.Perusahaan == null) {
                $('#tipepasien').val(3).trigger('change');
            } else {
                $('#tipepasien').val(model.Perusahaan).trigger('change');
            }
            //$('#Alamat').text(model.Alamat);
            //$('#Phone_Reg').text(model.Phone_Reg);

            //if (isetup.form['Kerjasama'].value == '') {
            //    $('#Kerjasama').text('UMUM');
            //} else {
            //    $('#Kerjasama').text(model.Perusahaan);
            //}
            //$('#NoKartu').text(model.NoKartu);
            //if (model.Perusahaan == 'BPJS KESEHATAN') {
            //    $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
            //    $('#estimas').removeClass('hidden');
            //} else if (model.Perusahaan != 'BPJS KESEHATAN') {
            //    $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
            //    $('#estimas').addClass('hidden');
            //}
            //$('#NRM').text('[' + model.NRM + ']');
            //if (model.Gender== 'M') {
            //    $('#JenisKelamin').addClass('fa fa-mars fa-lg');
            //} else if (model.Gender == 'F') {
            //    $('#JenisKelamin').addClass('fa fa-venus fa-lg');
            //}
            //$('#Umur').text(model.UmurTahun ? (model.UmurTahun + ' Thn ' + model.UmurBulan + ' Bln') : '');

            //if (isetup.form['NoResep'].value) {
            //    isetup.form['NoResep'].value = '';
            //    isetup.form['TanggalResep'].value = '';
            //    isetup.form['Cito'].checked = false;
            //    $(isetup.form).find('.input-detail tbody tr.lockdelete, .input-detail tbody tr.fromlookupbarang').remove();
            //} else {
            //    $(isetup.form).find('.input-detail tbody tr.lockdelete, .input-detail tbody tr.fromlookupbarang').remove();
            //}

            //$(t).on('hidden.bs.modal', e => {
            //    $(e.currentTarget).unbind();
            //    itablelookupbarang.openmodal(true);
            //    //$('#modalsetup').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
            //});

            $(t).closest('.modal').modal('hide');
            $('#filterbilling').val('');
            
            //itablelookupbarang.openmodal(true);
        }


        $('#modallookupregistrasi').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>