﻿<style>
    #modallookupbarang .table td,
    #modallookupbarang .table th {
        white-space:nowrap;
    }
</style>

<div id="modallookupbarang" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barang</h4>
            </div>
            <form id="lookupbarang">
                <input type="hidden" data-itable-filter="NoReg">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <div class="dataTables_filter">
                            <label>
                                <span>Filter:</span>
                                <input type="text" id="fltrbarangmodalobatbebas" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </label>
                        </div>
                        <div class="hide">
                            <label>
                                <span>Show:</span>
                                <select class="form-control itable-pagesize" style="width: auto;">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Barang">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="Qty_Stok">Stok<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Kategori">Kategori<i></i></th>
                                    <th class="sorting" data-itable-sorting="Harga_Jual">Harga<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupbarang.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupbarang;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupbarang = new iTable({
            url: '@Url.Action("ListLookupBarang")',
            table: document.getElementById('lookupbarang'),
            orderby: 'Kode_Barang',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupbarang.active(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.Stok + '</td>';
                        tbody += '<td>' + value.Kategori + '</td>';
                        //tbody += '<td>' + value.Harga + '</td>';
                        tbody += '<td>' + getcurrencyfromfloat(value.Harga) + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupbarang').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
            $('#fltrbarangmodalobatbebas').val('');
            $(isetup.form).find('tbody tr .Qty').last().focus();
        });
        $('#modallookupbarang').on('shown.bs.modal', function (e) {
             $('#modallookupbarang [data-itable-filter="All"]').focus();
        });

        itablelookupbarang.active = (t) => {
            $(t).toggleClass('bg-primary');
        }

        itablelookupbarang.openmodal = (v) => {
            itablelookupbarang.pageindex = 0;
            itablelookupbarang.refresh();
            $('#modallookupbarang').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        }

        itablelookupbarang.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));
                isetup.adddetailbody(
                    model.Id,
                    model.Kode,
                    model.Nama,
                    model.Satuan,
                    '',
                    model.Aturan2,
                    '',
                    '',
                    model.Stok,
                    model.Harga,
                    model.LockStock,
                    0,
                    '',
                    false
                );
            });
            $('#fltrbarangmodalobatbebas').val('');
            $(t).closest('.modal').modal('hide');
        }
    });
</script>