﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    tr.active td {
        background-color: #a1a1a1 !important;
    }

    .panel-red {
        background-color: #c3ebff;
        color: #313447;
    }

    .btn-lain {
        background-color: #2c404c;
        color: #ffffff;
        border-color: #c5c0c0;
    }

    .panel-bodycustom {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 8px;
        position: relative;
    }

    .teallain {
        color: #2c404c;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing Obat Bebas</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="KodePerusahaan" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tipe Pasien</label>
                                    <div class="col-md-9">
                                        <select id="tipepasien" required onchange="isetup.tipepasienonchange()" name="TipePasien">@Html.Raw(HList.FarmasiBillingTipePasien)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Dokter</label>
                                    <div class="col-md-9">
                                        <select onchange="isetup.dokteronchange()" required name="Dokter">@Html.Raw(HList.FarmasiBillingDokter)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Spesialis</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Spesialis" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Perusahaan</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" name="Perusahaan" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupperusahaan.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Kartu</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoKartu" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input id="nama" required type="text" name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <label class="checkbox-inline">
                                            Karyawan
                                            <input type="checkbox" name="Karyawan" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a id="lookupbaranghide" onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:50px;" class="text-center"></td>
                                                <td style="width:50px;" class="text-center"></td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td style="min-width: 100px;">Aturan1</td>
                                                <td style="min-width: 100px;">Aturan2</td>
                                                <td class="text-center">TglED</td>
                                                <td class="text-center">Jml Obat</td>
                                                <td class="text-center">Stok</td>
                                                <td class="text-right" style="min-width: 100px;">Harga</td>
                                                <td class="text-right" style="min-width: 80px;">Disc</td>
                                                <td class="text-right" style="min-width: 100px;">Jumlah</td>
                                                <td style="min-width: 180px;">Racikan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Reg</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoReg" class="form-control all-readonly text-left" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Biaya Racik</label>
                                    <div class="col-md-9">
                                        <input type="text" onchange="isetup.hitungtotal()" name="BiayaRacik" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Grand Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-offset-3 col-md-3 radio-inline">
                                        <input type="radio" id="RadioTunai" name="CaraBayar" value="Tunai" checked onclick="checkcarabayar(this)">
                                        Tunai
                                    </label>
                                    <label class="col-md-2 radio-inline">
                                        <input type="radio" id="RadioBon" name="CaraBayar" value="Bon" onclick="checkcarabayar(this)">
                                        Bon
                                    </label>
                                    <label class="col-md-3 radio-inline">
                                        <input type="radio" id="RadioBonJKN" name="CaraBayar" value="BonJKN" onclick="checkcarabayar(this)">
                                        Bon JKN
                                    </label>
                                </div>
                                <div class="form-group tunai">
                                    <label class="col-md-3 control-label">Tunai</label>
                                    <div class="col-md-9">
                                        <input type="text" id="Tunai" name="Tunai" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hidden bon">
                                    <label class="col-md-3 control-label">Bon</label>
                                    <div class="col-md-9">
                                        <input type="text" id="Bon" name="Bon" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hidden bonjkn">
                                    <label class="col-md-3 control-label">Bon JKN</label>
                                    <div class="col-md-9">
                                        <input type="text" id="BonJKN" name="BonJKN" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="icon-rotate-ccw2"></i> RETUR</button>
                    <a style="float:right" type="button" class="teal text-bold btn btn-proses-printeticket" onclick="isetup.printetiket(0)"><i class="icon-shredder position-left"></i>Print e-tiket</a>
                    <button id="btnhapusbiayaracik" type="button" class="btn btn-danger" onclick="hapusracik()"><i class="icon-bin"></i> BIAYA RACIK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaleresep" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">E-Resep</h4>
            </div>
            <form onsubmit="isetup.modalereseponsubmit(event)">
                <input type="hidden" name="eresepid" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep1" />
                                    06:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep2" />
                                    07:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep3" />
                                    10:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep4" />
                                    11:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep5" />
                                    12:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep6" />
                                    14:00
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep7" />
                                    16:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep8" />
                                    18:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep9" />
                                    21:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep10" />
                                    22:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep11" />
                                    24:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep12" />
                                    02:00
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><i class="icon-check"></i> OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    function checkcarabayar(t) {
        if (t.value == "Tunai") {
            $('#nama').val('');
            $('#tipepasien').val('').trigger('change');
            $('.bon').addClass('hidden');
            $('#Bon').val('');
            $('.bonjkn').addClass('hidden');
            $('#BonJKN').val('');
            $('#Tunai').val($("input[name=GrandTotal]").val());
            $('.tunai').removeClass('hidden');
            isetup.form['NoReg'].value = '';
        } else if (t.value == "BonJKN") {
            $('.bon').addClass('hidden');
            $('#Bon').val('');
            $('.tunai').addClass('hidden');
            $('#Tunai').val('');
            $('.bonjkn').removeClass('hidden');
            $('#BonJKN').val('');
            $('#BonJKN').val($("input[name=GrandTotal]").val());
            itablelookupregistrasi.openmodal();
        }
        else {
            $('#nama').val('');
            $('#tipepasien').val('').trigger('change');
            $('.tunai').addClass('hidden');
            $('#Tunai').val('');
            $('.bonjkn').addClass('hidden');
            $('#BonJKN').val('');
            $('#Bon').val($("input[name=GrandTotal]").val());
            $('.bon').removeClass('hidden');
            isetup.form['NoReg'].value = '';
        }



    }
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Dokter'].value = r.Data.Dokter;
                    t['Spesialis'].value = r.Data.Spesialis;
                    t['TipePasien'].value = r.Data.TipePasien;
                    t['KodePerusahaan'].value = r.Data.KodePerusahaan;
                    t['Perusahaan'].value = r.Data.Perusahaan;
                    t['NoKartu'].value = r.Data.NoKartu;
                    t['Nama'].value = r.Data.Nama;
                    t['Karyawan'].checked = r.Data.Karyawan;
                    t['SubTotal'].value = r.Data.SubTotal;
                    t['NoReg'].value = r.Data.NoReg;
                    if (r.Data.TipeBayar == 'Bon JKN') {
                        $('#RadioBonJKN').prop('checked', true);
                    } else if (r.Data.TipeBayar == 'Tunai') {
                        $('#RadioTunai').prop('checked', true);
                    } else if (r.Data.TipeBayar == 'Bon') {
                        $('#RadioBon').prop('checked', true);
                    } else {
                        $('#RadioBonJKN').prop('checked', false);
                        $('#RadioBon').prop('checked', false);
                        $('#RadioTunai').prop('checked', false);
                    }

                    isetup.cleave_BiayaRacik.setRawValue(r.Data.BiayaRacik);

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Aturan1,
                            value.Aturan2,
                            value.TglED,
                            value.JumlahObat,
                            value.Stok,
                            value.Harga,
                            value.LockStok,
                            value.Disc,
                            value.Racikan,
                            false,
                            value.Eresep1,
                            value.Eresep2,
                            value.Eresep3,
                            value.Eresep4,
                            value.Eresep5,
                            value.Eresep6,
                            value.Eresep7,
                            value.Eresep8,
                            value.Eresep9,
                            value.Eresep10,
                            value.Eresep11,
                            value.Eresep12,
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {

                    _process: t['_PROCESS'].value,

                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        SubTotal: getfloatfromcurrency(t['SubTotal'].value),
                        BiayaRacik: parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0,
                        Dokter: t['Dokter'].value,
                        TipePasien: t['TipePasien'].value,
                        Perusahaan: t['KodePerusahaan'].value,
                        NoKartu: t['NoKartu'].value,
                        Nama: t['Nama'].value,
                        Karyawan: t['Karyawan'].checked,
                        CaraBayar: t['CaraBayar'].value,
                        NoReg: t['NoReg'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            var m = isetup.cleave_detail_harga.find(x => x.id === $(value).data('id'));
                            return {
                                Id : $(value).data('id'),
                                JumlahObat: getfloatfromcurrency($(value).find('.Qty').val() || 0),
                                QtyStok: getfloatfromcurrency($(value).find('.Stok').val()) || 0,
                                Lock: $(value).find('.LockStock').val(),
                                Aturan1: $(value).find('.AturanPakai1').val(),
                                Aturan2: $(value).find('.AturanPakai2').val(),
                                Harga: m.clave.getRawValue(),
                                Disc: $(value).find('.Disc').val(),
                                Racikan: $(value).find('.Racik').val(),
                                TanggalED: $(value).find('.TanggalED').val(),
                                WaktuTiket1: m.eresep1 || false,
                                WaktuTiket2: m.eresep2 || false,
                                WaktuTiket3: m.eresep3 || false,
                                WaktuTiket4: m.eresep4 || false,
                                WaktuTiket5: m.eresep5 || false,
                                WaktuTiket6: m.eresep6 || false,
                                WaktuTiket7: m.eresep7 || false,
                                WaktuTiket8: m.eresep8 || false,
                                WaktuTiket9: m.eresep9 || false,
                                WaktuTiket10: m.eresep10 || false,
                                WaktuTiket11: m.eresep11 || false,
                                WaktuTiket12: m.eresep12 || false,
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                    window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=SIM_Rpt_BillingObatBebas.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + r.Id + '\'}]');
                } else alerterror(r.Message);

            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'VIEW') $('#btnhapusbiayaracik').removeClass('hide');
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');

                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;
                isetup.form['Dokter'].value = '';
                $(isetup.form['Dokter']).trigger('change');
                isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                $(isetup.form['TipePasien']).val('3').trigger('change');
                //$(isetup.form['TipePasien']).trigger('change');
                $(t).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['TipePasien']).select2();
        $(isetup.form['Dokter']).select2({
            allowClear: true,
            placeholder: ""
        });

        isetup.dokteronchange = () => {
            isetup.form['Spesialis'].value = $(isetup.form['Dokter']).find('option:selected').data('spesialis') || '';
        };

        isetup.tipepasienonchange = () => {
            isetup.form['KodePerusahaan'].value = '';
            isetup.form['Perusahaan'].value = '';
        };

        isetup.cleave_detail_harga = [];
        isetup.cleave_BiayaRacik = new Cleave(isetup.form['BiayaRacik'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.openmmodaleresep = id => {
            if (isetup.form['_PROCESS'].value !== 'VIEW')
                $('#modaleresep form input[type="checkbox"]').removeAttr('disabled');
            else
                $('#modaleresep form input[type="checkbox"]').attr('disabled', 'disabled');

            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == id);
            f['eresepid'].value = m.id;
            f['eresep1'].checked = m.eresep1;
            f['eresep2'].checked = m.eresep2;
            f['eresep3'].checked = m.eresep3;
            f['eresep4'].checked = m.eresep4;
            f['eresep5'].checked = m.eresep5;
            f['eresep6'].checked = m.eresep6;
            f['eresep7'].checked = m.eresep7;
            f['eresep8'].checked = m.eresep8;
            f['eresep9'].checked = m.eresep9;
            f['eresep10'].checked = m.eresep10;
            f['eresep11'].checked = m.eresep11;
            f['eresep12'].checked = m.eresep12;
            $('#modaleresep').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        };

        isetup.modalereseponsubmit = e => {
            e.preventDefault();
            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == f['eresepid'].value);
            m.eresep1 = f['eresep1'].checked;
            m.eresep2 = f['eresep2'].checked;
            m.eresep3 = f['eresep3'].checked;
            m.eresep4 = f['eresep4'].checked;
            m.eresep5 = f['eresep5'].checked;
            m.eresep6 = f['eresep6'].checked;
            m.eresep7 = f['eresep7'].checked;
            m.eresep8 = f['eresep8'].checked;
            m.eresep9 = f['eresep9'].checked;
            m.eresep10 = f['eresep10'].checked;
            m.eresep11 = f['eresep11'].checked;
            m.eresep12 = f['eresep12'].checked;
            $('#modaleresep').modal('hide');
        };

        isetup.adddetailbody = (id, kode, nama, satuan, aturan1, aturan2, tgled, obat, stok, harga, lockstock, disc, racikan, hidedelete,
            eresep1,
            eresep2,
            eresep3,
            eresep4,
            eresep5,
            eresep6,
            eresep7,
            eresep8,
            eresep9,
            eresep10,
            eresep11,
            eresep12
        ) => {
            const has = $(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }

            const _jum = obat * harga;
            const _disc = _jum / 100 * disc;
            const jumlah = _jum - _disc;
            var kdbrgprint = kode;

            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="' + (hidedelete ? 'lockdelete' : '') + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';
            _detail += '<td class="text-center">';
            _detail += '<a type="button" class="text-primary" value="' + kdbrgprint + '" onclick="isetup.printetiket(' + id + ');"><i class="icon-printer"></i></a>';
            _detail += '</td>';
            _detail += '<td class="text-center">';
            _detail += '<a href="#" onclick="isetup.openmmodaleresep(' + id + ');" class="text-primary"><i class="icon-file-text2"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            if (isetup.form['_PROCESS'].value === 'VIEW') {
                _detail += '<td><input type="text" class="form-control AturanPakai1" value="' + aturan1 + '" /></td>';
                _detail += '<td><input type="text" class="form-control AturanPakai2" value="' + aturan2 + '" /></td>';
            } else {
                _detail += '<td><input ondblclick ="isetup.clear(this)" class="AturanPakai1 type="text" list="aturan1" placeholder="Aturan Pakai 1 .." style="width:250px"><datalist id="aturan1">@(Html.Raw(HList.FarmasiAturanPakai1))</datalist></td>';
                _detail += '<td><input ondblclick ="isetup.clear(this)" class="AturanPakai2 type="text" list="aturan2" placeholder="Aturan Pakai 2 .." style="width:250px" value="' + aturan2 +'"><datalist id="aturan2">@(Html.Raw(HList.FarmasiAturanPakai2))</datalist></td>';
            }
            _detail += '<td><input type="date" class="form-control required TanggalED" value="' + (tgled || '') + '" /></td>';
            _detail += '<td><input type="number" onchange="isetup.cekqty(this)" class="form-control text-right Qty" step="any" min="0" value="' + obat + '" /></td>';
            //_detail += '<td><input type="number" class="form-control text-right Qty" step="any" min="0" value="' + obat + '" /></td>';
            _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden Stok" step="any" min="0" value="' + getcurrencyfromfloat(stok) + '" />' + getcurrencyfromfloat(stok) + '</td>';
            //_detail += '<td class="td-text text-center">' + (stok || 0) + '</td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="text-center hidden"><input type="text" class=" all-readonly hidden LockStock" step="any" min="0" value="' + lockstock + '" />' + lockstock + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Disc" step="any" min="0" max="101" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';
            _detail += '<td><select class="Racik form-control">@(Html.Raw(HList.FarmasiResepRacikan))</select></td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            const _inputcarikan = $(isetup.form).find('tbody tr:last-child .Racik').last();
            _inputcarikan[0].value = racikan || 'None';
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                }),
                eresep1: eresep1 || false,
                eresep2: eresep2 || false,
                eresep3: eresep3 || false,
                eresep4: eresep4 || false,
                eresep5: eresep5 || false,
                eresep6: eresep6 || false,
                eresep7: eresep7 || false,
                eresep8: eresep8 || false,
                eresep9: eresep9 || false,
                eresep10: eresep10 || false,
                eresep11: eresep11 || false,
                eresep12: eresep12 || false,
                kodebarang: kode || '',
            });
            isetup.hitungtotal();
        };

        isetup.printetiket = id => {
            const kdbrgprnt = isetup.cleave_detail_harga.find(x => x.id == id);
            if (kdbrgprnt == undefined) {
                var kdbrgprntnull = '-';
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprntnull + '\'}]');
            } else {
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprnt.kodebarang + '\'}]');
            }
        };

        isetup.cekqty = (t) => {
            const ttr = $(t).closest('tr');
            const cekstok = getfloatfromcurrency(ttr.find('.Qty').val());
            const cekqty = getfloatfromcurrency(ttr.find('.Stok').val());
            //if (cekstok > cekqty ) {
            //    alerterror('Jml Obat tidak boleh besar dari Stok');
            //    ttr.find('.Qty').val(0);
            //}
            isetup.hitungjumlah(t);
        }

        isetup.clear = (t) => {
            if (t.value) {
                t.value = "";
            }
        }

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const _jum = harga * qty;
            const _dis = _jum / 100 * disc;
            const jumlah = _jum - _dis;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const biayaracik = parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0;
            const grandtotal = subtotal + biayaracik;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
            isetup.form['Tunai'].value = getcurrencyfromfloat(grandtotal) || 0;
            isetup.form['BonJKN'].value = getcurrencyfromfloat(grandtotal) || 0;
            isetup.form['Bon'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });

    $(document).keydown(function (e) {
        if ($('#modalsetup').css('display') != 'block') return;

        // modallookupbarang
        if ($('#modallookupbarang').css('display') === 'block') {

            const filter = $('#modallookupbarang #fltrbarangmodalobatbebas');
            const trActive = $('#modallookupbarang tbody tr.active');

            if (e.keyCode === 40) {
                filter.blur();
                if (trActive.length) {
                    const next = trActive.next();
                    trActive.removeClass('active');
                    if (next.length) {
                        next.addClass('active');
                    } else {
                        filter.focus();
                    }
                } else {
                    $('#modallookupbarang tbody tr:nth-child(1)').addClass('active');
                }
            } else if (e.keyCode === 38) {
                if ($('#modallookupbarang').css('display') === 'block') {
                    if (trActive.length) {
                        const prev = trActive.prev();
                        trActive.removeClass('active');
                        if (prev.length) {
                            prev.addClass('active');
                        } else {
                            filter.focus();
                        }
                    }
                }
            } else if (e.keyCode === 32 && trActive.length) {
                if (trActive.hasClass('bg-primary')) {
                    trActive.removeClass('bg-primary');
                } else {
                    trActive.addClass('bg-primary');
                }
            } else if (e.keyCode === 13 && $('#modallookupbarang tbody tr.bg-primary').length) {
                $('#modallookupbarang button[onclick="itablelookupbarang.selected(this)"]').click();
            }

            return;
        }

        if (e.keyCode === 113) {
            $('#lookupbaranghide').click();
            return;
        }

        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }

        if (e.keyCode == 40) {
            e.preventDefault();
            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index + 9].focus();
            e.preventDefault();
        }

        if (e.keyCode == 38) {
            e.preventDefault();

            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index - 9].focus();
            e.preventDefault();
        }

        if (e.keyCode == 39) {
            e.preventDefault();

            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index + 1].focus();
            e.preventDefault();
        }

        if (e.keyCode == 37) {
            e.preventDefault();

            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index - 1].focus();
            e.preventDefault();
        }
    });

    function hapusracik()
    {
        $.ajax({
            url: '@Url.Action("HapusBiayaRacik")',
            type: 'POST',
            data: {
                nobukti: isetup.form['NoBukti'].value,
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    alert('Berhasil Hapus Biaya Racik');
                    $('#btnhapusbiayaracik').addClass('hide');
                    itable.refresh();
                } else {
                    alerterror('Gagal Hapus');
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    }
</script>