﻿@using Inventory.Helper
@{
    var configppnnilai = ViewBag.PPNNilai;
}
<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Penerimaan Free</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No DO</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="NoDO" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Supplier</label>
                                    <div class="col-md-9">
                                        <select name="Supplier" required>@Html.Raw(HList.Supplier)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Lokasi</label>
                                    <div class="col-md-9">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mata Uang</label>
                                    <div class="col-md-9">
                                        <select name="MataUang" required>@Html.Raw(HList.PenerimaanMataUang)</select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Qty</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-right">Disc%</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">PPN</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="PPN" onchange="isetup.hitungtotal()" />
                                            </div>
                                            <div class="input-group-addon">
                                                @configppnnilai%
                                            </div>
                                            <input type="text" name="PPNNilai" class="form-control all-readonly text-right" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.No;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['NoDO'].value = r.Data.NoDO;
                    t['Supplier'].value = r.Data.Supplier;
                    t['Lokasi'].value = $(t['Lokasi']).find('option[data-lokasi="' + r.Data.Lokasi + '"]').val();
                    t['MataUang'].value = r.Data.MataUang;
                    t['PPN'].checked = r.Data.PPN > 0;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Qty,
                            value.Harga,
                            value.Disc
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        No: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        NoDO: t['NoDO'].value,
                        Supplier: t['Supplier'].value,
                        Lokasi: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        MataUang: t['MataUang'].value,
                        PPN: t['PPN'].checked ? 10 : 0,
                        PPNNilai: getfloatfromcurrency(t['PPNNilai'].value),
                        Total: getfloatfromcurrency(t['GrandTotal'].value),
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Harga: isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                                Disc: $(value).find('.Disc').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['Supplier']).select2();
        $(isetup.form['MataUang']).select2();
        $(isetup.form['Lokasi']).select2();
        isetup.cleave_detail_harga = [];

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.adddetailbody = (id, kode, nama, satuan, qty, harga, disc, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const jum = harga * (qty || 0);
            const diskon = jum / 100 * disc;
            const jumlah = jum - diskon;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-center Disc" step="any" min="0" max="100" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jum = harga * qty;
            const diskon = jum / 100 * (disc || 0);
            const jumlah = jum - diskon;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            let ppnnilai = @configppnnilai;
            subtotal = parseFloat(subtotal);
            const ppn = isetup.form['PPN'].checked ? (subtotal / 100 * ppnnilai) : 0;
            const grandtotal = subtotal + ppn;

            isetup.form['PPNNilai'].value = getcurrencyfromfloat(ppn) || 0;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }
    });
</script>