﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Retur</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Retur</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoRetur" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alasan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Alasan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Data Pasien</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Reg</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoReg" required class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupregistrasi.openmodal()"><i class="icon-search4"></i></button>
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default view-disabled" onclick="itablelookupregistrasi.clear()"><i class="icon-eraser2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">NRM</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NRM" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Nama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="content-group">
                                    <legend class="text-bold">Data Billing</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Bill</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoBilling" required class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupbilling.openmodal()"><i class="icon-search4"></i></button>
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default view-disabled" onclick="itablelookupbilling.clear()"><i class="icon-eraser2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="datetime-local" name="TanggalBilling" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>No Billing</td>
                                                <td>Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Qty Pesan</td>
                                                <td class="text-center">Qty Terpakai</td>
                                                <td class="text-center">Qty Retur</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label hidden">Total Retur</label>
                            <div class="col-md-9">
                                <input type="text" name="SubTotal" class="hidden form-control all-readonly" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoRetur'].value = r.Data.NoRetur;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Alasan'].value = r.Data.Alasan;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['Nama'].value = r.Data.Nama;
                    t['NoBilling'].value = r.Data.NoBilling;
                    t['TanggalBilling'].value = r.Data.TanggalBilling + 'T' + r.Data.JamBilling;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.NoBill,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.QtyPesan,
                            value.QtyTerpakai,
                            value.QtryRetur,
                            false,
                            ''
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoRetur: t['NoRetur'].value,
                        NoBilling: t['NoBilling'].value,
                        Tanggal: t['Tanggal'].value,
                        NoReg: t['NoReg'].value,
                        Alasan: t['Alasan'].value,
                        SubTotal: t['SubTotal'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                QtryRetur: $(value).find('.Qtyretur').val(),
                                NoBilling: $(value).data('nobill'),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();

                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;

                isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                itablelookupregistrasi.openmodal();
                $(t).find('.input-detail tbody').html('');
            }
        });

        isetup.adddetailbody = (id, nobill, kode, nama, satuan, qtypesan, qtyterpakai, qtyretur, hidedelete, obat) => {
            const has = $(isetup.form).find('.input-detail tbody tr[data-id="' + nobill + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '" data-nobill="' + nobill + '" class="' + (hidedelete ? 'lockdelete' : '') + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + nobill + '</td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text text-center">' + (qtypesan || 0) + '</td>';
            _detail += '<td class="td-text text-center"><input type="text"  class="hidden text-right Qtyterpakai" step="any" min="0" value="' + qtyterpakai + '" />' + qtyterpakai + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qtyretur" step="any" min="0" value="' + qtyretur + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
        isetup.hitungjumlah = (t) => {
            //var retur = 0;
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qtyretur = parseFloat(tr.find('.Qtyretur').val());
            const qtyterpakai = parseFloat(tr.find('.Qtyterpakai').val());
            //retur += qtyretur;
            if (qtyretur > qtyterpakai) {
                alerterror('Qty Retur terima tidak boleh lebih besar dari pada Qty Terpakai');
                tr.find('.Qtyretur').val(qtyterpakai);
                isetup.hitungjumlah(t);
            }
            var r = 0;
            $.each($('.input-detail tbody tr td:nth-child(8) input'), function (index, value) {
                r += getfloatfromcurrency(value.value) || 0;
            });
            r = Math.ceil(r);
            //if (r == 0) {
            //    alerterror('Total Qty Retur Tidak Boleh 0');
            //    isetup.hitungjumlah(t);
            //}
            isetup.form['SubTotal'].value = getcurrencyfromfloat(r) || 0;

        }


        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>