﻿<style>
    .aaaa {
        min-width: 296px;
    }
</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @*<li class="dropdown show">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-box"></i>
                <span class="d-md-none ml-2">Stok</span>
                <span class="badge-warning badge-pill bg-warning-400 ml-auto ml-md-0">7</span>
            </a>
            <div class="dropdown-menu aaaa dropdown-menu-right dropdown-content">
                <div class="dropdown-content-header">
                </div>
                <div class="dropdown-content-body dropdown-scrollable">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="media-title">
                                    <a href="#">
                                        <span class="font-weight-semibold">James Alexander</span>
                                        <span class="text-muted float-right font-size-sm">04:58</span>
                                    </a>
                                </div>

                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">
                                <div class="media-title">
                                    <a href="#">
                                        <span class="font-weight-semibold">Margo Baker</span>
                                        <span class="text-muted float-right font-size-sm">12:16</span>
                                    </a>
                                </div>

                                <span class="text-muted">That was something he was unable to do because...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">
                                <div class="media-title">
                                    <a href="#">
                                        <span class="font-weight-semibold">Jeremy Victorino</span>
                                        <span class="text-muted float-right font-size-sm">22:48</span>
                                    </a>
                                </div>

                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">
                                <div class="media-title">
                                    <a href="#">
                                        <span class="font-weight-semibold">Beatrix Diaz</span>
                                        <span class="text-muted float-right font-size-sm">Tue</span>
                                    </a>
                                </div>

                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">
                                <div class="media-title">
                                    <a href="#">
                                        <span class="font-weight-semibold">Richard Vango</span>
                                        <span class="text-muted float-right font-size-sm">Mon</span>
                                    </a>
                                </div>

                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="dropdown-content-footer justify-content-center p-0">
                    <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="" data-original-title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
                </div>
            </div>
        </li>*@
        <li class="dropdown dropdown-user">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span>@User.Identity.GetUserName()</span>
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="@Url.Action("Index","Manage")"><i class="icon-cog5"></i> Account settings</a></li>
                @if (User.IsInRole("Kasir"))
                {
                    @*<li><a onclick="openmodalcabang()"><i class="icon-store"></i> Ganti Cabang</a></li>*@
                }
                <li class="divider"></li>
                <li><a href="@Url.Action("Help","Home")"><i class="icon-help"></i> Help</a></li>
                <li><a href="@Url.Action("ApplicationInfo","Home")"><i class="icon-info3"></i> Application Info</a></li>
                <li class="divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
