﻿@using Microsoft.AspNet.Identity
@{
    var groupsectionname = Request.Cookies["Inventory_Section_Group"] == null ? "" : Request.Cookies["Inventory_Section_Group"].Value;
}
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                    }

                    @if (groupsectionname == "GUDANG")
                    {
                        <li>
                            <a href="#" class="has-ul"><i class="icon-cart-add2"></i> <span>Transaksi</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "PermintaanPembelian")">Permintaan Pembelian</a></li>
                                <li><a href="@Url.Action("Index", "PenerimaanBarang")">Penerimaan Barang</a></li>
                                <li><a href="@Url.Action("Index", "PenerimaanLangsung")">Penerimaan Langsung</a></li>
                                <li><a href="@Url.Action("Index", "PenerimaanFree")">Penerimaan Free</a></li>
                                <li><a href="@Url.Action("Index", "PembelianObatLuar")">Pembelian Obat Luar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-transmission"></i> <span>Pemberian & Peminjaman</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Pemberiaan")">Pemberian</a></li>
                                <li><a href="@Url.Action("Index", "PemberianRetur")">Pemberian Retur</a></li>
                                <li><a href="@Url.Action("Index", "Peminjaman")">Peminjaman</a></li>
                                <li><a href="@Url.Action("Index", "PeminjamanRetur")">Peminjaman Retur</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-upload"></i> <span>Retur</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "ReturMutasi")">Retur Mutasi</a></li>
                                <li><a href="@Url.Action("Index", "ReturPenerimaan")">Retur PBF</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Stok</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Amprahan")">Amprahan</a></li>
                                <li><a href="@Url.Action("Index", "MutasiBarang")">Mutasi Barang</a></li>
                                <li><a href="@Url.Action("Index", "StokOpname")">Stok Opname</a></li>
                                @* <li><a href="@Url.Action("Index", "PemakaianObatPasien")">Pemakaian BMHP</a></li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-wrench3"></i> <span>Tools</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "InfoBarangDeathStock")">Info Barang Death Stock</a></li>
                                <li><a href="@Url.Action("Index", "InfoStatusStok")">Info Status Stok</a></li>
                                <li><a href="@Url.Action("Index", "ListPerubahanHarga")">List Perubahan Harga</a></li>
                                <li><a href="@Url.Action("Index", "PostingKeKeuangan")">Posting Ke Keuangan</a></li>
                                <li><a href="@Url.Action("Index", "CancelPostingKeuangan")">Cancel Posting Keuangan</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Setup</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "VendorVendor")">Vendor</a></li>
                                <li><a href="@Url.Action("Index", "SetupBarang")">Barang</a></li>
                                <li><a href="@Url.Action("Index", "OtherSection")">Section</a></li>
                                <li><a href="@Url.Action("Index", "SetupKategoriBarang")">Kategori Barang</a></li>
                                <li><a href="@Url.Action("Index", "SetupSubKategoriBarang")">Sub Kategori Barang</a></li>
                                <li><a href="@Url.Action("Index", "SetupKelasBarang")">Kelas Barang</a></li>
                                <li><a href="@Url.Action("Index", "SetupGolongan")">Golongan</a></li>
                                <li><a href="@Url.Action("Index", "SetupJenis")">Jenis</a></li>
                                <li><a href="@Url.Action("Index", "SetupKelompokGrading")">Kelompok Grading</a></li>
                                <li><a href="@Url.Action("Index", "SetupSatuan")">Satuan</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-printer4"></i> <span>Report</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Report", new { name = "Barang", category = "Barang/Barang"})">Barang</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Stok", category = "Barang/Stok"})">Stok</a></li>
                                @*<li><a href="@Url.Action("Index", "Report", new { name = "RSUB", category = "Barang/RSUB"})">RSUB</a></li>*@
                            </ul>
                        </li>
                    }
                    else if (groupsectionname == "PENGADAAN")
                    {
                        <li>
                            <a href="#" class="has-ul"><i class="icon-cart-add2"></i> <span>Transaksi</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "PurchasingOrder")">Order</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Index", "Report", new { name = "Purchasing", category = "Purchasing"})"><i class="icon-printer4"></i> <span>Report</span></a></li>
                    }
                    else if (groupsectionname == "FARMASI")
                    {
                        <li>
                            <a href="#" class="has-ul"><i class="icon-cart-add2"></i> <span>Transaksi</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "FarmasiResep")">Resep</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiBilling")">Billing</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiBillingObatBebas")">Billing Obat Bebas</a></li>
                                <li><a href="@Url.Action("Index", "PembelianObatLuar")">Pembelian Obat Luar</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiRetur")">Retur</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiReturBillingObatBebas")">Retur Obat Bebas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-transmission"></i> <span>Pemberian & Peminjaman</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Pemberiaan")">Pemberian</a></li>
                                <li><a href="@Url.Action("Index", "PemberianRetur")">Pemberian Retur</a></li>
                                <li><a href="@Url.Action("Index", "Peminjaman")">Peminjaman</a></li>
                                <li><a href="@Url.Action("Index", "PeminjamanRetur")">Peminjaman Retur</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Stok</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Amprahan")">Amprahan</a></li>
                                <li><a href="@Url.Action("Index", "MutasiBarang")">Mutasi Barang</a></li>
                                <li><a href="@Url.Action("Index", "StokOpname")">Stok Opname</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-wrench3"></i> <span>Tools</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "FarmasiInfoHargaObat")">Info Harga Obat</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiInfoStokGudang")">Info Stok Gudang</a></li>
                                <li><a href="@Url.Action("Index", "InfoStatusStok")">Info Status Stok</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiInfoFormulariumObat")">Info Formularium Obat</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiAnalisaStok")">Analisa Stok</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-stack2"></i> <span>Setup</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "FarmasiSetupDosisObat")">Dosis Obat</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiSetupGenerik")">Generik</a></li>
                                <li><a href="@Url.Action("Index", "FarmasiSetupObatGenerik")">Obat Generik</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-printer4"></i> <span>Report</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Report", new { name = "Farmasi", category = "Farmasi/Farmasi"})">Farmasi</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Omset", category = "Farmasi/Omset"})">Omset</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Pemakaian Obat Pasien", category = "Farmasi/PemakaianObatPasien"})">Pemakaian Obat Pasien</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Barang", category = "Farmasi/Barang"})">Barang</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Summary Retur Obat Per Pasien", category = "Farmasi/SummaryReturObatPerPasien"})">Summary Retur Obat Per Pasien</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Tagihan", category = "Farmasi/Tagihan"})">Tagihan</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>