﻿@{
    ViewBag.Title = "Analisa Stok";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table td,
    #formtable table th {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <input type="hidden" data-itable-filter="All" value="" />
                <input type="checkbox" class="hide" data-itable-filter="MelewatiMinStok" />
                <input type="checkbox" class="hide" data-itable-filter="HariIni" />
                <input type="checkbox" class="hide" data-itable-filter="Kemarin" checked />
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th data-itable-sorting="Kode_Barang" style="width:100px;" class="sorting">Kode<i></i></th>
                            <th data-itable-sorting="Nama_Barang" class="sorting">Nama<i></i></th>
                            <th data-itable-sorting="Satuan_Stok" style="width:100px;" class="sorting text-center">Satuan<i></i></th>
                            <th data-itable-sorting="Qty_Stok" style="width:100px;" class="sorting text-center">QtyStok<i></i></th>
                            <th data-itable-sorting="min_Stok" style="width:100px;" class="sorting text-center">MinStok<i></i></th>
                            <th data-itable-sorting="Max_Stok" style="width:100px;" class="sorting text-center">MaxStok<i></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">Filter</label>
                            <div class="col-md-9">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group hide">
                            <div class="col-md-9 col-md-offset-3">
                                <label>
                                    <input type="checkbox" name="melewatiminstok" />
                                    Tampilkan Barang Yang Melewati Minimal Stok
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <label>
                                    <input type="checkbox" name="hariini" />
                                    Transaksi Hari Ini
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <label>
                                    <input type="checkbox" name="kemarin" />
                                    Transaksi Hari Kemarin
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Show</label>
                            <div class="col-md-9">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Barang',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';

                        // column
                        tbody += '<td>' + (value.Kode || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.Satuan || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.QtyStok || '0') + '</td>';
                        tbody += '<td class="text-center">' + (value.MinStok || '0') + '</td>';
                        tbody += '<td class="text-center">' + (value.MaxStok || '0') + '</td>';

                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['melewatiminstok'].checked = $('#formtable [data-itable-filter="MelewatiMinStok"]')[0].checked;
            f['hariini'].checked = $('#formtable [data-itable-filter="HariIni"]')[0].checked;
            f['kemarin'].checked = $('#formtable [data-itable-filter="Kemarin"]')[0].checked;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="MelewatiMinStok"]')[0].checked = f['melewatiminstok'].checked;
            $('#formtable [data-itable-filter="HariIni"]')[0].checked = f['hariini'].checked;
            $('#formtable [data-itable-filter="Kemarin"]')[0].checked = f['kemarin'].checked;
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }
    });
</script>